@model HPCL.Common.Models.ResponseModel.MerchantFinancial.BatchDetailsResponse
@using Microsoft.AspNetCore.Http;

<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")" class="text_primary">Financial</a> </li>
            <li class="breadcrumb-item font-weight-light">Batch Details</li>
        </ul>

        <div class="w-100">
            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                <div class="border-1 rounded border-grey pb-3">
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Batch Details</p>




                </div>
            </div>
        </div>
    </div>
</div>
