<div style="width:100%;">
    <div class="pt-3 px-0">
        <div class="d-flex align-items-stretch justify-content-start flex-wrap">
            
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("COMCOCustomerMapping", "COMCOManager")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation_app.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Map Customer</h4>
                        <p>Map Customer</p>
                    </div>
                </a>
            </div>
           
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ViewMappedCreditCustomers", "COMCOManager")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation_app.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>View Mapped Customer</h4>
                        <p>View Mapped Customer</p>
                    </div>
                </a>
            </div>
           @* <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("RequestToSetCreditLimit", "COMCOManager")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation_app.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Limit Set Request</h4>
                        <p>Limit Set Request</p>
                    </div>
                </a>
            </div>*@
        </div>
    </div>
</div>