<div style="width:100%;">
    <div class="py-3 px-0 p-md-4">
        <div class="d-flex align-items-stretch justify-content-between flex-wrap">
            <div class="col-md-3 col-12 mb-3">
                <a href="@Url.Action("EnrollToTransportManagementSystem", "TMS")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/customer-balance.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Enroll To Transport Management System</h4>
                        <p>Enroll To Transport Management System</p>
                    </div>
                </a>
            </div>
            
    </div>
</div>