@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessRedirect</title>
</head>
<body>
    <div class="col-lg-12 px-0">
        <div class="bg-white p-2 p-md-4">
            <form>
                <div class="w-100">
                    <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                        <div class="border-1 rounded border-grey pb-0">
                            @*<p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Enroll To Transport Management System</p>*@
                            <div class="col-lg-12 col-md-12 col-12 py-3">
                                <div class="alert alert-success alert-cust-success mb-3 text-center">
                                    @ViewBag.Message
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</body>
</html>