@model HPCL.Common.Models.ViewModel.TMS.NavigateToTransportManagementSystemModel
@{
    ViewData["Title"] = "Navigate to Transport Management System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
    <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","TMS")" class="text_primary">Transport Management System</a> </li>
        <li class="breadcrumb-item font-weight-light"> Navigate to Transport Management System</li>
    </ul>
   @using (Html.BeginForm("SwitchToCargoFL", "TMS", FormMethod.Post, new { @enctype = "multipart/form-data" }))
   {
        <div class="w-100">
        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
            <div class="border-1 rounded border-grey">
            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Navigate to Transport Management System</p>
            @if (Model.Success != "")
            {
                <div class="mb-3 text-center" style="background-color: #a0f1d6;">@Model.Success</div>
            }
            <div class="col-lg-12 col-md-12 col-12 py-3">
				<div class="d-flex align-items-center flex-wrap"> 
                <div class="col-lg-6 col-12">
                    <div class="d-flex align-items-center flex-wrap mb-0">
                    <label class="font-weight-normal col-md-5 col-12 mb-0">Navigate to Transport Management System</label>
                    <div class="col-sm-7 col-md-7 col-12 px-0">
                        <div class="custom_select">
                           <button class="btn btn_primary">Switch to Transport Management System</button>
                        </div>
                    </div>
					</div>
					</div>
				</div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            </div>
        </div>
        </div>
        @Html.HiddenFor(model => Model.CustomerId)
    }
    <div class="clearfix"></div>
    @if (Model.Message != "")
    {
           <div class="alert alert-danger mt-3" style="background-color: #fee4e4;text-align:center;font-weight:bold;">@Model.Message</div>
    }
    </div>
    <div class="clearfix"></div>
    
</div>
<div class="clearfix"></div>