/*CSS Document for web layout*/

/*css added by Ajay Kumar on 061221*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* You can add global styles to this file, and also import other style files */
html {
    min-height: 100%;
    position: relative
}

body {
    margin: 0;
    /* font-family: 'Lato', sans-serif; */
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 11px !important;
    background: #eaeaea
}

.bg-grey {
    background: #eaeaea;
}

a:hover {
    text-decoration: none
}

.bg-light-grey {
    background: #fafbff;
}

.btn_primary {
    text-align: center;
    display: block;
    width: 100%;
    background: #073b76;
    color: #fff !important;
    padding: 6px 12px !important;
    font-size: 11px !important;
    height: 30px;
    text-transform: uppercase;
}

header.bb1 {
    background: #fff;
}

main {
    min-height: 100%;
    background: #eaeaea;
    /*position: relative;*/
    padding-bottom: 20px;
    margin-bottom: 97px;
}
/*main:after {
    position: absolute;
    content: '';
    height: 100px;
    width: 100%;
}*/
.table td, .table th {
    padding: 5px;
    vertical-align: top;
    overflow-wrap: break-word;
    table-layout: fixed;
}

.pagination .page-link {
    color: #084693
}

.pagination .page-item.active .page-link {
    background: #084693;
    border-color: #084693
}

.form-control:not(textarea) {
    font-size: 11px;
    height: 30px !important;
   /* margin: 6px 0;*/
}
label{
    margin-bottom:0rem;
}

textarea {
    font-size: 13px !important
}

.bg_primary {
    background: #084693
}

.text_secondary {
    color: #5b9ef2
}

.btn_primary:hover {
    color: #fff;
}

.primary_link {
    color: #f0363d;
}
div#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:none
}

.loader_overlay {
    background: #00000038;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.loader_img {
    position: absolute;
    max-width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    z-index:10;
    padding:10px;
    background:#fff;
    border-radius:50%
}
.br-14 {
    border-radius: 14px;
}

.border-1 {
    border: 1px solid #000;
}

.bg_sky_blue {
    background: #6e99cf
}

.refresh_btn {
    display: block;
    right: -30px;
    position: absolute;
    top: -3px;
    padding: 10px 5px 10px 10px;
}

.disable {
    pointer-events: none;
    cursor: default
}

.font-12 {
    font-size: 12px
}

.br-0 {
    border-radius: 0
}

.top_header {
    background: #fff
}

.login_heading {
    color: #314970;
    font-size: 20px;
    padding-bottom: 20px;
    position: relative;
    display: inline-block
}

    .login_heading:after {
        position: absolute;
        content: "";
        left: 25%;
        top: 70%;
        width: 50%;
        height: 2px;
        background: #ee1820;
    }

.note_1 {
    background: #073b76;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}
/*Header css*/
.home_header {
    background: #000032
}

.main_footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    /* height:97px*/
}

.main_header {
    background: #084693;
    position: relative
}

    .main_header:after {
        border-bottom: 4px solid #ee1820;
        position: absolute;
        content: '';
        left: 0;
        top: calc(100% - 4px);
        width: 100%;
        pointer-events: none;
    }

.action_btn {
    max-width: 20px
}

.home_banner {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#103e8b+0,000032+60 */
    background: #103e8b; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #103e8b 0%, #000032 60%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #103e8b 0%,#000032 60%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #103e8b 0%,#000032 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#103e8b', endColorstr='#000032',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.header_logo {
    max-width: 190px;
}

.main_navs {
    /*border-bottom: 4px solid #f00*/
}

    .main_navs li {
        position: relative
    }

        .main_navs li a {
            color: #fff !important;
            padding: 10px 5px !important;
            font-size: 12px;
            display: block;
        }

            .main_navs li a.router-link-active {
                font-weight: 500;
            }

.navbar_toggler {
    max-width: 35px;
    padding-left: 0;
}

    .navbar_toggler:focus {
        outline: none;
        border-color: transparent;
        box-shadow: none;
    }

.login_wrapper {
    background: url(../images/login_bg.jpg) no-repeat center left;
    background-size: contain;
}

.border_grey_1 {
    border: 1px solid #ddd
}

.border_primary {
    border: 2px solid #7794c1
}

.bread_custom .breadcrumb-item + .breadcrumb-item::before {
    /* color: #fff; */
}


.subMenu_div {
    position: absolute;
    list-style: none;
    background: #fff;
    display: none;
    margin: 0;
    width: 250px;
    top: 38px;
    z-index: 100;
}

.main_navs li:hover .subMenu_div {
    display: block;
}

.subMenu {
    box-shadow: 0px 5px 6px 0px #0000005c;
    list-style: none;
    margin: 0;
    padding: 0;
    /* border-right: 4px solid #ee1820; */
}

    .subMenu li {
        position: relative
    }

.subMenu2_div {
    position: absolute;
    list-style: none;
    background: #fff;
    padding-top: 0;
    display: none;
    margin: 0;
    width: 250px;
    top: 0;
    left: 100%;
}

.subMenu_div li:hover .subMenu2_div {
    display: block;
}

.subMenu2 {
    box-shadow: 5px 0px 6px 0px #0000005c;
}

.subMenu li a {
    display: block;
    max-width: initial;
    color: #084693 !important;
    padding: 6px 15px !important;
    border-bottom: 1px solid #ececec;
}

.level2Menu_div {
    position: absolute;
    list-style: none;
    /* background: #fff; */
    display: none;
    margin: 0;
    width: 250px;
    top: 0;
    z-index: 100;
    left: 100%;
}

.level2Menu {
    box-shadow: 0px 5px 6px 0px #0000005c;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
    border-top: 4px solid #ee1820;
}

.subMenu_div:before {
    position: absolute;
    content: '';
    height: 3px;
    border-width: 5px;
    border-style: solid;
    border-color: #ee1820 transparent transparent transparent;
    left: 0;
    margin-left: 18px;
    top: -1px;
}

.hasSub {
    position: relative
}

    .hasSub:after {
        position: absolute;
        content: '';
        height: 4px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent #ee1820;
        right: 11px;
        top: 11px;
    }

.subMenu li:hover .level2Menu_div {
    display: block
}

@media screen and (max-width:992px) {
    .top_navs {
        position: absolute;
        left: 0;
        right: 0;
        top: 110%;
        background: #030b42;
        z-index: 100;
    }

    .trigger {
        display: block !important
    }
}

@media screen and (max-width:767px) {
    .header_logo {
        max-width: 190px;
    }
}

@media screen and (max-width:576px) {
    .refresh_btn {
        position: static;
    }
}



/*Login CSS */

.login_input {
    padding: 8px 12px
}

.login_btn {
    font-weight: 700;
}

.header_input_group {
    border: 1px solid #d4d9df;
    border-radius: 30px;
}

    .header_input_group input {
        border: none;
        padding: 6px 10px;
    }

        .header_input_group input:focus {
            box-shadow: none;
            border: none;
            outline: none;
            margin-right: 2px;
        }

    .header_input_group .input-group-prepend .input-group-text {
        background: none !important;
        border: none;
    }

        .header_input_group .input-group-prepend .input-group-text img {
            max-width: 20px;
        }

.search_filter_btn {
    position: relative;
}

    .search_filter_btn select {
        border: none;
        background: #084693;
        color: #fff;
        padding: 10px 45px 9px 25px;
        border-radius: 30px;
        margin-right: -2px;
        font-size: 12px;
        appearance: none;
        display: none;
    }

    .search_filter_btn:after {
        position: absolute;
        content: '';
        border-width: 5px;
        border-style: solid;
        border-color: #fff transparent transparent;
        top: 16px;
        right: 15px;
        pointer-events: none;
        display: none;
    }

    .search_filter_btn select:focus {
        outline: none;
    }

    .search_filter_btn select option {
        padding: 10px;
    }

.header_contact {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

    .header_contact li {
        display: block;
        padding: 0 20px
    }

        .header_contact li a {
            display: block;
            color: #084693;
            font-size: 12px;
            font-weight: 500
        }

            .header_contact li a img {
                max-width: 16px;
                margin-right: 4px;
            }

.header_right li {
    padding: 0 15px;
    line-height: 1
}

.header_right > li > a {
    color: #084693;
    font-weight: 600;
}

    .header_right > li > a.logOut_btn {
        background: #f00;
        padding: 10px;
        color: #fff;
        border-radius: 6px;
    }

.select-selected {
    background-color: #084693;
}

    /* Style the arrow inside the select element: */
    .select-selected:after {
        position: absolute;
        content: "";
        top: 17px;
        right: 25px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #fff transparent transparent transparent;
    }

    /* Point the arrow upwards when the select box is open (active): */
    .select-selected.select-arrow-active:after {
        border-color: transparent transparent #fff transparent;
        top: 10px;
    }

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
    color: #ffffff;
    padding: 10px 55px 11px 35px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    font-size: 12px;
}

.select-selected {
    border-radius: 30px;
}
/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #084693;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.error {
    font-size: 11px;
    color: #f00;
    position: absolute;
    top: 100%;
    display: block;
}

.border-grey {
    border-color: #ccc
}

.text_primary {
    color: #084693
}
/*Footer Css*/

.newsletter {
    background: #00368a
}

.footer_wrapper {
    background: #303030;
}

.footer_heading {
    font-size: 18px;
    font-weight: 400;
}

.footer_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}

    .footer_nav ul li a {
        color: #fff;
        padding: 5px 0;
        display: block;
        font-weight: 300;
    }

.text-ssl {
    color: #688cba
}

.copyright_text {
    background: #4f4f4f;
    position: relative;
    border-bottom: 10px solid #d60a13;
}

.footer_links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center
}

    .footer_links ul li {
        padding: 5px 0
    }

        .footer_links ul li a {
            display: block;
            padding: 0 10px;
            color: #fff;
            font-size: 13px;
            font-weight: 400;
            border-right: 1px solid #fff;
            line-height: 1;
        }

        .footer_links ul li:last-child a {
            border: none;
        }

.text-sm {
    font-size: 13px
}

.bottom_logo {
    position: absolute;
    right: 20px;
    top: -20px;
}


/*dashboard css*/


.sidebar_wrapper {
    background: #084693;
    padding: 10px 0;
    z-index: 10;
    display:none
}

.sidebar_menus {
    position: relative;
    overflow: auto;
    height: 100%;
}

    .sidebar_menus ul {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-left: 30px;
    }

        .sidebar_menus ul li {
            display: block;
        }

    .sidebar_menus li a {
        display: inline-block;
        padding: 13px 10px;
        background: #084693;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        position: relative;
    }

        .sidebar_menus li a.active:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 3px;
            background: #d60a13;
            left: 10px;
            bottom: 5px;
        }

        .sidebar_menus li a img {
            max-width: 30px;
            filter: brightness(1000);
            margin-right: 10px;
        }

.trigger {
    position: absolute;
    right: -26px;
    width: 25px;
    height: 50px;
    background: #fff;
    box-shadow: 4px 0 5px 0px #0000002e;
    top: 130px;
    display: none;
}

    .trigger:after {
        position: absolute;
        content: ">";
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: monospace;
        font-size: 24px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.dashboard_thumb {
    background: linear-gradient(150deg, #d0d0d0, #ffffff);
    border-radius: 4px;
    color: #000;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    text-align: center;
    border: 1px solid #ccc;
    min-height:176px;
}

    .dashboard_thumb:hover {
        color: #000
    }

.thumb_icon {
    background: #084693;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

    .thumb_icon img {
        max-width: 40px;
    }

.dashboard_thumb h4 {
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 5px
}

.dashboard_thumb p {
    font-size: 12px;
    margin: 0;
    line-height: 1.2;
    height: 30px;
}



/*====================Online Forms Css================ */

.form_tabs {
    border: none;
}

    .form_tabs li {
        margin-bottom: 0 !important;
    }

        .form_tabs li a {
            border: none !important;
            color: #5c5c5c !important;
            border-bottom: 1px solid #ccc !important;
        }

            .form_tabs li a.active {
                color: #084693 !important;
                border-bottom-color: #084693 !important;
                font-weight: 500;
            }

        .form_tabs li:first-child a {
            padding-left: 0;
        }

.form_info {
    position: absolute;
    right: -15px;
    width: 25px;
    height: 25px;
    background: #4aa1fe;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50px;
    top: 5px;
}

    .form_info:hover {
        color: #fff;
    }

/*=======Add User Css Starts Here==========*/

.searchFileds {
    position: absolute;
    background: #fff;
    left: 0;
    border: 1px solid #ddd;
    border-top: none;
    padding: 15px;
    right: 0;
    display: none;
    z-index: 10
}

.searchUserInput {
    position: relative
}

.field-validation-error {
    font-size: 11px;
    margin-top: 1px;
    display: block; 
}
.CustomError {
    position: absolute; 
} 
.custom_form_feild input, 
.custom_form_feild select {
    margin: 0px 5.5px 5px 5.5px;
}
.custom_select input[type="radio"]{
    vertical-align:middle;
}
div#searchResponse > span {
    font-weight: bold;
    letter-spacing: .5px;
}
.form-control-file {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 3px 5px;
}
.input-validation-error {
    border: 2px solid #dc3545;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #dc3545;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(220,53,69,.25);
}
.table i {
    font-size: 14px;
    padding: 5px;
    font-weight: bold;
    color: #073b76;
}

/****ToolTip Css for DataTable Action Icons*****/

a[data-toggle="tooltip"] {
    position: relative;
    transition: all .2s
}

a[data-toggle="tooltip"]:hover:after {
    position: absolute;
    content: attr(tooltip);
    background: #0000008a;
    padding: 3px 5px;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    right: 100%;
    line-height: 1;
    text-transform:uppercase;
    pointer-events:none
}

a[data-toggle="tooltip"]:hover:before {
    position: absolute;
    content: '';
    bottom: 50%;
    border-color: transparent transparent transparent #0000008a;
    border-width: 3px 4px 3px 4px;
    border-style: solid;
    left: 0px;
    pointer-events: none
}

.add_update_btn {
    position: absolute;
    top: 10px;
    right: 15px;
    width: auto;
    padding: 5px 10px;
    font-size: 11px;
    text-transform: uppercase;
}

div#idPfrontImg, #idPbackImg, 
#idAfrontImg, #idAbackImg {
    text-align: center;
    /*border: 2px solid #ced4da;*/
    border-radius: 3px;
    max-width: 100%;
    margin-bottom: 25px;
}
div#idPfrontImg img,
#idPbackImg img,
div#idAfrontImg img,
#idAbackImg img {
    max-width: 100%;
    max-height: 100px;
    width:100% !important;
}

.custom-checkbox .custom-control-label {
    line-height: 24px !important;
}
.createmessagearea {
    background: #fff;
    padding: 20px;
    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #ccc;
    font-weight: bold;
    text-align: center;
    max-width: 600px;
}
.createmessagearea p {
    font-size: 14px;
    margin-bottom: 0;
}
.createmessagearea p a {
    border: 1px solid #007bff;
    padding: 7px 10px;
    margin-top: 15px;
    display: inline-block;
    border-radius: 4px;
}
.createmessagearea p a:hover,
.createmessagearea p a:active,
.createmessagearea p a:focus {
    background: #007bff;
    color: #fff;
}
.chk_sty input[type="checkbox"] {
    vertical-align: middle;
}
.dataTables_length .SumoSelect {
    width: 70px;
}
.dataTables_length .SumoSelect > .CaptionCont > label > i {
    background: none;
}
td.fastagNo, td.mobileNo, td.cardNo {
    vertical-align: unset;
}
.verstatic td {
    vertical-align: unset;
}
.SumoSelect > .CaptionCont {
   padding-left: 10px !important;
    padding-top: 7px;
}   
p.warnMsg {
    text-align: left;
    padding-left: 245px;
}
.SumoSelect > .CaptionCont > span {
    padding-right: 18px !important;
}
.edit-feild {
    border: 1px solid #7a7a7a !important;
}
.w-50{
    width:50%;
}
table#alternameMobSection tr td {
    vertical-align: middle;
}