@model HPCL.Common.Models.ViewModel.Terminal.ManageTerminalModel
@{
    ViewData["Title"] = "Manage Terminal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "TerminalManagement")" class="text_primary">Terminal Management</a> </li>
            <li class="breadcrumb-item font-weight-light">Manage Terminal</li>
        </ul>
        <form method="POST" data-ajax="true" data-ajax-controller="TerminalManagement" data-ajax-action="ManageTerminal" data-ajax-method="POST" data-ajax-failure="OnFailure">
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Manage Terminal</p>
                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-12 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-2 col-12">Search Terminal <sup class="text-danger">*</sup></label>
                                        <div class="col-md-10 col-12">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input rbOption" type="radio" name="inlineRadioOptions" id="inlineRadio1" checked value="option1" style="margin-right:0px;">
                                                <label class="form-check-label ml-2" for="inlineRadio1">Terminal Status</label>
                                            </div>
                                            <div class="form-check form-check-inline ">
                                                <input class="enable_tb rbOption" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                <label class="form-check-label ml-2" for="inlineRadio2">Terminal ID</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="enable_tb rbOption" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                                                <label class="form-check-label ml-2" for="inlineRadio3">Merchant ID</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Select Status <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                               @Html.DropDownListFor(m => m.DeploymentStatus, new SelectList(Model.StatusModals, "StatusId", "StatusName"), new { @class = "form-control" })

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12" id="merchant" style="display:none">Merchant ID <sup class="text-danger">*</sup></label>
                                        <label class="font-weight-normal col-md-4 col-12" id="terminal">Terminal ID <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12 offset-md-1">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.MerchantId, new { @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off"})
                                                <span style="display:none" class="error" id="merchantId_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-0">
                                <div class="px-2">
                                    <button class="btn btn_primary" id="btnSearch" type="button">Search</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" id="btnReset">Reset</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div id="show_Table" class="col-lg-12 col-md-12 col-12 mt-3">
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>

<script type="text/javascript">

        $(".rbOption").change(function () {
            $("#MerchantId").val("");
            if ($("#inlineRadio1").is(":checked")) {
                $("#DeploymentStatus").prop("disabled", false);
                $("#DeploymentStatus")[0].sumo.reload();
                $("#MerchantId").prop("disabled", true);

            }
            if ($("#inlineRadio2").is(":checked")) {
                 $("#DeploymentStatus").prop("disabled", true);
                 $("#MerchantId").prop("disabled", false);
                 document.getElementById("terminal").style.display = "block";
                 document.getElementById("merchant").style.display = "none";
            }
             if ($("#inlineRadio3").is(":checked")) {
                $("#DeploymentStatus").prop("disabled", true);
                $("#MerchantId").prop("disabled", false);
                document.getElementById("terminal").style.display = "none";
                document.getElementById("merchant").style.display = "block";
            }
             $("#merchantId_error").attr("style", "display:none");
             $("#merchantId_error").html("");
        });


    $(document).ready(function () {
        $("#MerchantId").prop("disabled", true);
       

    });
    $("#btnReset").click(function () {
        window.location.reload(true);
    });

        $("#btnSearch").click(function () {
             var merchantId = "",terminalId="",status="";
             var flag="Y";
           if ($("#inlineRadio3").is(":checked")){
                merchantId = $("#MerchantId").val();
                if (merchantId == "") {
                    $("#merchantId_error").attr("style", "display:block");
                    $("#merchantId_error").html("Please enter valid ID.");
                    flag = "N";
                }
                else{
                    if (!merchantId.match(mappedMerchantID)) {
                        $("#merchantId_error").attr("style", "display:block");
                        $("#merchantId_error").html("Please enter valid Merchant ID");
                        flag = "N";
                    }
                }
           }
           else if($("#inlineRadio2").is(":checked")){
                terminalId = $("#MerchantId").val();
                if (terminalId == "") {
                    $("#merchantId_error").attr("style", "display:block");
                    $("#merchantId_error").html("Please enter valid ID.");
                    flag = "N";
                }
                else{
                    if (!terminalId.match(mappedterminalID)) {
                        $("#merchantId_error").attr("style", "display:block");
                        $("#merchantId_error").html("Please enter valid Terminal ID");
                        flag = "N";
                    }
                }
           }
           else
                status=$("#DeploymentStatus").val()
           
        if(flag=="Y"){
            $.ajax({
                type: 'GET',  // http method
                url: "@Url.Action("GetAllStatusValue", "TerminalManagement")",
                data: { MerchantId: merchantId, TerminalId:terminalId,Status:status},  // data to submit
                dataType: "html",
                success:function (data, status, xhr) {  
                    var v = data;
                     if (status == 'success') {
                         $("#show_Table").html(data);
                         $('html, body').animate({
                             scrollTop: $("#show_Table").offset().top
                         }, 2000);
                     }
                     else {
                         console.log(v);
                     }

                },
                error: function (jqXhr, textStatus, errorMessage) {

                }
            });
        }
        });
           $('select').SumoSelect({
                placeholder: '-All-',
                search: true,
                searchText: 'Enter Text here.'
            });
         $("#MerchantId").on("blur", function () {
             if ($("#inlineRadio3").is(":checked")){
                 var merchantId = $("#MerchantId").val();
                 if (merchantId != "") {
                    if (!merchantId.match(mappedMerchantID)) {
                        $("#merchantId_error").attr("style", "display:block");
                        $("#merchantId_error").html("Please enter valid Merchant ID");

                    }
                    else{
                        $("#merchantId_error").attr("style", "display:none");
                        $("#merchantId_error").html("");
                    }
                 }
                 else{
                     $("#merchantId_error").attr("style", "display:none");
                     $("#merchantId_error").html("");
                 }
             }
             else if($("#inlineRadio2").is(":checked")){
                  var terminalId = $("#MerchantId").val();
                 if (terminalId != "") {
                    if (!terminalId.match(mappedterminalID)) {
                        $("#merchantId_error").attr("style", "display:block");
                        $("#merchantId_error").html("Please enter valid Terminal ID");

                    }
                    else{
                        $("#merchantId_error").attr("style", "display:none");
                        $("#merchantId_error").html("");
                    }
                 }
                 else{
                     $("#merchantId_error").attr("style", "display:none");
                     $("#merchantId_error").html("");
                 }
             }
         });

</script>