@model HPCL.Common.Models.ViewModel.ViewCard.ViewCardDetails
<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
          <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0 ">
            <li class="breadcrumb-item "><a href="@Url.Action("Index", "Cards")" class="text_primary">Cards</a> </li>
            <li class="breadcrumb-item font-weight-light " >View Card Limits</li>        
        </ul>
        
        <form id="formValid" class="toBeHiddenOnSuccess">
            <div class="border-1 rounded border-grey h-100 mt-3">
                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">View Cards Limits</p>
                <div class="pt-4">
                    <div class="form-group d-flex align-items-center flex-wrap">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <div class="col-md-12 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-2 col-12">Customer ID<sup class="text-danger">*</sup></label>
                                        <div class="col-md-3 col-12">
                                            @Html.TextBoxFor(m => m.Customerid, new { @class = "form-control" ,maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off" })
                                            <span style="display:none" class="error" id="customerId_error"></span>
                                        </div>
                                        <div class="col-md-7 col-12"> 
                                            <div class="d-flex align-items-center justify-content-start">
                                                <div class="px-2">
                                                    <button class="btn btn_primary" type="button" id="btnSearch"><i class="fa fa-search">&nbsp;</i> SEARCH</button>
                                                </div>
                                                <div class="px-2">
                                                    <button class="btn btn_primary" id="btnReset"><i class="fa fa-refresh">&nbsp;</i> RESET</button>
                                                </div>
                                                <div class="px-2">
                                                    <button class="btn btn_primary" type="button" id="btnAddMobile"><i class="fa fa-plus">&nbsp;</i> ADD/EDIT MOBILE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
        </form>
         <div class="clearfix"></div>
        <div id="show_Table" class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3 toBeHiddenOnSuccess" >
        </div>
         <div class="clearfix"></div>
            
        </div>
    </div>
    <script type="text/javascript">
     $(document).ready(function () {
    });
     $("#btnReset").click(function () {
       window.location.reload(true);
    });
    $("#btnSearch").on("click", (function (e) {

       var flag="Y";
        var customerId = $("#Customerid").val();
         if (customerId != "") {
              if (!customerId.match(mappedCustomerId)) {
                  $("#customerId_error").attr("style", "display:block");
                  $("#customerId_error").html("Invalid Customer ID");
                  flag = "N";
              }
              else{
                 $("#customerId_error").attr("style", "display:none");
                 $("#customerId_error").html("");
              }
          }
          else
          {
                $("#customerId_error").attr("style", "display:block");
                $("#customerId_error").html("please enter Customer ID");
                flag = "N";
          }
        if(flag=="Y"){
              $.ajax({
                 type: 'GET',  // http method
                 url: '@Url.Action("ViewCardSearch", "ViewCard")',
                 contentType: "application/json; charset=utf-8",
                 dataType: 'text',
                 data: { CustomerId: customerId},
                 success: function (data, status, xhr) {
                     var v = data;
                     if (status == 'success') {
                         $("#show_Table").html(data);
                         $('html, body').animate({
                             scrollTop: $("#show_Table").offset().top
                         }, 2000);
                     }
                     else {
                         console.log(v);
                     }
                 },
                 error: function (jqXhr, textStatus, errorMessage) {
                     alert("Error"+ errorMessage);
                 }
                });
        }
        
             
             
    }));
    $("#Customerid").on("blur", function () {
         var customerId = $("#Customerid").val();
          if (customerId != "") {
              if (!customerId.match(mappedCustomerId)) {
                  $("#customerId_error").attr("style", "display:block");
                  $("#customerId_error").html("Invalid Customer ID");
              }
              else{
                 $("#customerId_error").attr("style", "display:none");
                 $("#customerId_error").html("");
             }
          }
          else
          {
               $("#customerId_error").attr("style", "display:block");
               $("#customerId_error").html("please enter Customer ID");
          }
         
     });
   $("#btnAddMobile").on("click", (function (e) {
        var flag="Y";
        var customerId = $("#Customerid").val();
         if (customerId != "") {
              if (!customerId.match(mappedCustomerId)) {
                  $("#customerId_error").attr("style", "display:block");
                  $("#customerId_error").html("Invalid Customer ID");
                  flag = "N";
              }
              else{
                 $("#customerId_error").attr("style", "display:none");
                 $("#customerId_error").html("");
              }
          }
          else
          {
                $("#customerId_error").attr("style", "display:block");
                $("#customerId_error").html("please enter Customer ID");
                flag = "N";
          }
        if(flag=="Y")
            window.location.href = '@Url.Action("AddOrEditMobile", "ViewCard")?CustomerId='+customerId;
   }));
   

    </script>