<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/favicon.ico">
    <meta name="theme-color" content="#74cbcb" />
    <link rel="manifest" href="~/assets/manifest.json">
    <title>DriveTrackPlus : DT Plus</title>
    <!-- Bootstrap core CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="~/assets/aos/aos.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>

    <style>
        .dropdown-menu.radio .dropdown-item { 
	        position:relative;
	        overflow:hidden; 
	        cursor:pointer; }

        .dropdown-menu.radio input { 
	        visibility: hidden; 
	        position:absolute; left: -30px; }

        .dropdown-menu.radio i { 
	        font-weight:normal; font-style:normal; 
	        display:block; }

        .dropdown-item.active {
          background-color:#555; 
          color:#fff;
        }
        .dropdown-menu.radio .dropdown-item { 
	        position:relative;
	        overflow:hidden; 
	        cursor:pointer; }

        .dropdown-menu.radio input { 
	        visibility: hidden; 
	        position:absolute; left: -30px; }

        .dropdown-menu.radio i { 
	        font-weight:normal; font-style:normal; 
	        display:block; }

        .dropdown-menu.radio.show .dropdown-item.active {
          background-color:#073a7a; 
          color:#fff;
        }
        .btn_filter {
            background: #084693;
            color: #fff;
            font-size: 12px;
            height: 42px;
            border-radius: 30px;
            min-width: 140px;
        }
        .dropdown-menu.radio.show {
            background: #084693;
        }
        .dropdown-menu.radio.show .dropdown-item i{
            color: #fff;
            font-size: 12px;
        }
        .dropdown-menu.radio.show .dropdown-item i{
            padding: 5px 10px;
        }
        .dropdown-menu.radio.show .dropdown-item:focus, 
        .dropdown-menu.radio.show .dropdown-item:hover {
            color: #fff;
            text-decoration: none;
            background-color: #0f58b2;
        }
    </style>

</head>

<body>
    <header>
        <div class="top_header py-4">
            <div class="d-flex align-items-center justify-content-start flex-wrap navbar-expand-lg">
                <div class="d-flex align-items-center justify-content-start col-lg-3 col-md-4 col-12 py-2">
                    <button class="navbar-toggler navbar_toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <img src="~/assets/images/menu_icon.png" class="img-fluid" alt="">
                    </button>
                    <a class="navbar-brand header_logo" href="index.html" routerLinkActive="router-link-active">
                        <img src="~/assets/images/logo.png" class="img-fluid" alt="">
                    </a>
                </div>
                <!--<div class="col-lg-5 col-md-8 col-12 py-2">
                    <div class="input-group mb-0 header_input_group align-items-center">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><img src="~/assets/images/search_icon.png" alt=""></span>
                        </div>
                        <input type="search" class="form-control" aria-label="Start Searching" placeholder="Start Searching...">
                        <div class="input-group-append">
                            @*<div class="search_filter_btn">
                                <select name="" id="">
                                    <option value="">Filter By</option>
                                    <option value="">Category</option>
                                    <option value="">Products</option>
                                    <option value="">Loyalty</option> 
                                </select>
                            </div>*@

                            <div class="dropdown">
	                            <button type="button" class="btn btn_filter dropdown-toggle" data-toggle="dropdown">
	  	                            <span>Filter By</span>
	                            </button>
	                            <div class="dropdown-menu radio">
    	                            <label class="dropdown-item">
                                    <input class="jRadioDropdown" type="radio" value="005" name="alphabet">
                                    <i>Customer Search</i>
                                  </label>

    	                            <label class="dropdown-item">
                                    <input class="jRadioDropdown" type="radio" value="006" name="alphabet">
                                    <i>Card Search</i>
                                  </label>

    	                            <label class="dropdown-item">
                                    <input class="jRadioDropdown" type="radio" value="007" name="alphabet">
                                    <i>Merchant Search</i>
                                  </label>
                                  <label class="dropdown-item">
                                    <input class="jRadioDropdown" type="radio" value="008" name="alphabet">
                                    <i>Terminal Search</i>
                                  </label>
	                            </div>
                        </div>

                        </div>
                    </div>
                </div>-->
                <div class="d-flex align-items-center justify-content-end col-lg-9 col-12 d-none">
                    <ul class="header_contact">
                        <li class="">
                            <a href="#">
                                <div class="d-flex align-items-start justify-content-between">
                                    <img src="~/assets/images/call_icon.png" alt="">
                                    <div class="">
                                        Customer Care<br>1800-10-39811

                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <div class="d-flex align-items-start justify-content-between">
                                    <img src="~/assets/images/clock_icon.png" alt="">
                                    <div class="">
                                        Dealer Help Desk<br>0120-4585510/11

                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <div class="d-flex align-items-start justify-content-between">
                                    <img src="~/assets/images/message_icon.png" alt="">
                                    <div class="">
                                        SMS Service No.<br>9223 076601

                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="@Url.Action("CCMSRechargePage","CCMSRecharge")" onclick="SetSessionValue();">
                                <div class="d-flex align-items-start justify-content-between">
                                    <div class="">
                                        Online CCMS Recharge
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
@*        <nav class="navbar navbar-expand-lg main_header p-0">
            <div class="container-fluid position-relative">
                <div class="d-flex align-items-center justify-content-center w-100">
                    <div class="top_navs">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav main_navs">
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html" routerLinkActive="router-link-active">Home</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html" routerLinkActive="router-link-active">About</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html" routerLinkActive="router-link-active">Benefits</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html" routerLinkActive="router-link-active">Rewards</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html" routerLinkActive="router-link-active">Customer Connect</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html" routerLinkActive="router-link-active">Mobile Application</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html" routerLinkActive="router-link-active">Retail Outlet Network</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html" routerLinkActive="router-link-active">Be a Member</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html" routerLinkActive="router-link-active">Downloads</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="faq.html" routerLinkActive="router-link-active">FAQ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="faq.html" routerLinkActive="router-link-active">HP Re-Fuel Card</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="recharge.html" routerLinkActive="router-link-active">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>*@
    </header>
    <main role="main" style="margin-bottom:530px">
        <div class="bg-grey pt-sm-3 pt-md-5 px-0 py-2">
            <div class="container">
                @RenderBody()
            </div>
        </div>


    </main>

    <footer class="main_footer">
        <div class="newsletter p-sm-5 p-3">
            <div class="d-flex align-content-center justify-content-center">
                <div class="col-lg-6 col-sm-10">
                    <h5 class="text-white text-left font-weight-normal">KNOW MORE ABOUT DRIVETRACK PLUS</h5>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control br-0 p-3" placeholder="Provide Your Email ID" aria-label="Provide Your Email ID" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-danger br-0 text-white px-4 font-12" type="button" id="button-addon2">GO</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_wrapper pt-5 pb-3">
            <div class="container">
                <div class="d-flex align-items-start justify-content-between flex-wrap">
                    <div class="col-md-4 mb-5 mb-sm-3">
                        <div class="footer_nav">
                            <h4 class="text-uppercase text-white footer_heading">Important Links</h4>
                            <ul class="text-white">
                                <li><a href="#">HPCL Retail Website </a></li>
                                <li><a href="#">HPCL Corporate Website</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5 mb-sm-3">
                        <div class="footer_nav">
                            <h4 class="text-uppercase text-white footer_heading">Terms and Conditions</h4>
                            <ul class="text-white">
                                <li><a href="#">Terms and Conditions </a></li>
                                <li><a href="#">User Guide</a></li>
                                <li><a href="#">Disclaimer</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Website Terms and Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer_download">
                            <h4 class="text-uppercase text-white footer_heading">Fuel Your Drive</h4>
                            <p class="mt-3 text-danger">You can Recharge your DriveTrack Plus or HP Re-Fuel CCMS account through the following cashless payment modes:</p>
                            <p class="text-white mt-4 text-uppercase">MOBILE APPLICATION AVAILABLE ON</p>
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="downloadApp_img mr-3">
                                    <img src="~/assets/images/google_play.png" alt="Google Play">
                                </div>
                                <div class="downloadApp_img mr-3">
                                    <img src="~/assets/images/android_icon.png" alt="Android Store">
                                </div>
                                <div class="downloadApp_img mr-3">
                                    <img src="~/assets/images/window_icon.png" alt="Windows Store">
                                </div>
                            </div>
                            <a href="#" class="text-ssl text-sm d-block mt-2">SSL Certificate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_text p-4">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <div class="footer_links">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Benefits</a></li>
                            <li><a href="#">Rewards</a></li>
                            <li><a href="#">Customer Connect</a></li>
                            <li><a href="#">Mobile Application</a></li>
                            <li><a href="#">Retail Outlet Network</a></li>
                            <li><a href="#">Be a Member</a></li>
                            <li><a href="#">Downloads</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">HP Re-Fuel Card</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <p class="footer_text text-white mt-4 text-sm text-center mb-0">© 2021, HPCL. All rights reserved</p>
            </div>
            <a href="#" class="bottom_logo"><img src="~/assets/images/footer_hp.png" class="img-fluid" alt=""></a>
        </div>

    </footer>


    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="~/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/vendor/popper.min.js"></script>
    <script src="~/assets/aos/aos.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="~/assets/css/jquery.es-drawermenu.min.css">
    <script src="~/assets/js/jquery.es-drawermenu.js"></script>

    <script src="~/assets/js/mloyal.js"></script>
    <script>
        AOS.init({
            easing: 'ease-in-out-sine'
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function() {
         // executes when complete page is fully loaded, including all frames, objects and images
        // alert("window is loaded");
           window.localStorage.clear();

        });

         // Change the button text & add active class
            $('.jRadioDropdown').change(function() {
              var dropdown = $(this).closest('.dropdown');
              var thislabel = $(this).closest('label');

              dropdown.find('label').removeClass('active'); 
              if( $(this).is(':checked') ) {
                thislabel.addClass('active');
                dropdown.find('span').html( thislabel.text() );
              }

            });    
 
            //Add tabindex on labels
            $('label.dropdown-item').each(function (index, value){
              $(this).attr('tabindex', 0 );
              $(this).find('input').attr('tabindex', -1 );
            });

            //Add keyboard navigation
            $('label.dropdown-item').keypress(function(e){
              if((e.keyCode ? e.keyCode : e.which) == 13){
                $(this).trigger('click');
              }
            });

    //$(document).keydown(function (event) {
    //    if (event.keyCode == 123) { // To Prevent F12
    //        return false;
    //    } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // To Prevent Ctrl+Shift+I        
    //        return false;
    //    }
    //});

    ////To Prevent Right Click > Inspect Element
    //$(document).on("contextmenu", function (e) {        
    //    e.preventDefault();
    //});

    //Enter Key Blocked
    $(document).keypress(
      function(event){
        if (event.which == '13') {
          event.preventDefault();
        }
    });

    </script>
    
</body>
</html>
