
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessRedirect</title>
</head>
<body>
    <div class="createmessagearea alert alert-success">
    <p>@ViewBag.Message With Form No. @ViewBag.FormNumber &nbsp;&nbsp; <br />@Html.ActionLink("Validate Aggregator Customer", "ValidateAggregatorCustomer", "Aggregator", null, null)</p>
    </div>
</body>
</html>