
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MID Allocation of Cards via Web</title>
</head>
<body>
    <div class="col-lg-12 px-0">
        <div class="bg-white p-2 p-md-4">
            <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "MyHpOTCCardCustomer")" class="text_primary">My HP (OTC) Card Customer</a> </li>
                <li class="breadcrumb-item font-weight-light">MID Allocation of Cards via Web</li>
            </ul>
            <form>
                <div class="w-100">
                    <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                        <div class="border-1 rounded border-grey pb-0">
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">MID Allocation of Cards via Web</p>
                            <div class="col-lg-12 col-md-12 col-12 py-3">
                                <div class="alert alert-success alert-cust-success mb-3 text-center">
                                    MID Allocation of Cards via Web successful
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</body>
</html>