@model HPCL_Web.Models.OfficerLocationModel

    <marquee width="100%" direction="left" height="30%">
        Dear Fleet Customer, For TDS related information, Please check the latest notification at TDS Alert
    </marquee>
    <div class="col-lg-12 p-4 p-md-4">
        <div class="bg-white p-2 p-md-4">
            <h5>Officer Details</h5>
            <form name="applicationForm" onsubmit="return submitForm()" class="w-100">
                <div class="tab-content mt-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                        <div class="w-100">
                            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                                <div class="border-1 rounded border-grey"></div>
                                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Location Mapping</p>
                                <div class="col-lg-6 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                                    <table style="border: 1px solid black;border-collapse: collapse;">
                                        <thead>
                                            <tr>
                                                <th style="border: 1px solid black;border-collapse: collapse;">Region</th>
                                                <th style="border: 1px solid black;border-collapse: collapse;">User Name</th>
                                                <th style="border: 1px solid black;border-collapse: collapse;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="border: 1px solid black;border-collapse: collapse;"></td>
                                                <td style="border: 1px solid black;border-collapse: collapse;"></td>
                                                <td style="border: 1px solid black;border-collapse: collapse;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                                <div class="border-1 rounded border-grey"></div>
                                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Add Location</p>
                                <div class="col-lg-6 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                                    <div>
                                        <div class="py-2 pr-4 pl-0 pr-md-4">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Zone Office <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    <div class="custom_select">
                                                        @*@Html.DropDownListFor(m => m.OfficerType, new SelectList(Model.OfficerTypeMdl, "OfficerID", "OfficerTypeName"))*@
                                                    </div>
                                                    <span class="error" id="customerType_error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Regional Office <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    <div class="custom_select">
                                                        @*@Html.DropDownListFor(m => m.OfficerType, new SelectList(Model.OfficerTypeMdl, "OfficerID", "OfficerTypeName"))*@
                                                    </div>
                                                    <span class="error" id="zonalOffice_error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">User Name <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    @*@Html.DropDownListFor(m => m.OfficerType, new SelectList(Model.OfficerTypeMdl, "OfficerID", "OfficerTypeName"))*@
                                                    <span class="error" id="applicationDate_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <div class="px-2">
                                    <button class="btn" type="submit" name="submit" style="background-color:#084693;color:white;">Add Location</button>
                                    <button class="btn" type="submit" name="cancel" style="background-color:#084693;color:white;">Reset</button>

                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>