 <div class="col-lg-12 p-4 p-md-4">
          <div class="bg-white p-2 p-md-4">
            <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
              <li class="breadcrumb-item"><a href="#" class="text_primary">Home</a> </li>
              <li class="breadcrumb-item font-weight-light">Merchant Dashboard</li>
            </ul>
            <form>
              <div class="w-100">
                <div class="col-lg-3 col-md-3 col-12 pl-0 pr-0">
                  <div class="border-1 rounded border-primary pb-0">
					<div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between">
						<span class="text-white m-0 font14">Key Events and Figures</span>
						<span class="text-white m-0 get_btn">Get Details</span>
					</div>
                    <div class="col-lg-12 col-md-12 col-12 px-0">
                      <table class="table table-striped d-md-table d-block">
					  <tbody>
						<tr>
						  <td class="font-weight-bold">Last Login</td>
						  <td>26/05/22</td>
						</tr>
						<tr>
						  <td class="font-weight-bold">Last Transaction</td>
						  <td>26/05/22</td>
						</tr>
						<tr>
						  <td class="font-weight-bold">Last Cash Relaod</td>
						  <td>26/05/22</td>
						</tr>
						<tr>
						  <td class="font-weight-bold">Last Cash Sale</td>
						  <td>26/05/22</td>
						</tr>
						<tr>
						  <td class="font-weight-bold">Last CCMS Recharge</td>
						  <td>26/05/22</td>
						</tr>
						<tr>
						  <td class="font-weight-bold">Last Batch Sattled</td>
						  <td>26/05/22</td>
						</tr>
						<tr>
						  <td class="font-weight-bold">Unsattled Batch Number</td>
						  <td>26/05/22</td>
						</tr>
						<tr>
						  <td class="font-weight-bold">Unsattled Txn Count</td>
						  <td>26/05/22</td>
						</tr>
						<tr>
						  <td class="font-weight-bold">Last Password Change</td>
						  <td>26/05/22</td>
						</tr>
						<tr>
						  <td class="font-weight-bold">Last Contact Details Update</td>
						  <td>26/05/22</td>
						</tr>
					  </tbody>
					</table>
					</div>
					<div class="clearfix"></div>	
                  </div>
				  
				  <div class="border-1 rounded border-primary mt-3">
					<div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between">
						<span class="text-white m-0 font14">Quick Links</span>
					</div>
                    <div class="col-lg-12 col-md-12 col-12 px-2 mt-3">
						<div class="d-flex align-items-center justify-content-start mt-0">
							<div class="links_cards_box mb-3">
								Receivable Payable
							</div>
							<div class="links_cards_box mb-3">
								Sale Reload Details
							</div>
						</div>
						<div class="d-flex align-items-center justify-content-start mt-0">
							<div class="links_cards_box mb-3">
								Earning Details
							</div>
							<div class="links_cards_box mb-3">
								SMS Alert Request
							</div>
						</div>
					</div>
					<div class="clearfix"></div>	
                  </div>
				</div>
				<div class="col-lg-6 col-md-6 col-12">
                  <div class="border-1 rounded border-primary pb-3">
                    <p class="text-white px-3 py-2 bg_blue_sty m-0 font14">Todays Transaction Summary</p>
                    <div class="col-lg-12 col-md-12 col-12 py-0 px-0">
                      <table class="table table-striped d-md-table d-block">
						  <thead>
							<tr style="background-color:#636363;color:#fff;">
							  <th>Transaction Type</th>
							  <th>Amount(Rs.)</th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <td style="font-size: 14px;font-weight: bold;color: #084693;">Cash Sale</td>
							  <td>0.00</td>
							</tr>
							<tr>
							  <td style="font-size: 14px;font-weight: bold;color: #084693;">CCMS Sale</td>
							  <td>0.00</td>
							</tr>
							<tr>
							  <td style="font-size: 14px;font-weight: bold;color: #084693;">Cash Relaod</td>
							  <td>0.00</td>
							</tr>
							<tr>
							  <td style="font-size: 14px;font-weight: bold;color: #084693;">CCMS Recharge</td>
							  <td>0.00</td>
							</tr>
						  </tbody>
					  </table>			 					 
					</div>
					<div class="clearfix"></div>
                  </div>
				  <div class="bg_blue_sty pb-0">
				   <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between" style="margin-top: -3px;">
						<span class="text-white m-0">Last 5 Transactions</span>
						<span class="text-white m-0 get_btn">Get Details</span>
					</div>
                   
                    <!--<div class="col-lg-12 col-md-12 col-12 py-2 px-2">
                      			 					 
					</div>-->
					<div class="clearfix"></div>
                  </div>
				  <div class="bg_blue_sty pb-0">
				   <div class="bg-darkgray px-2 py-2 d-flex align-items-center justify-content-end" style="margin-top: 1px;">
						<span class="text-white m-0"><a href="#" class="text-white">View All Transactions <i class="fa fa-angle-double-right"></i></a></span>
				   </div>
                   
                    <!--<div class="col-lg-12 col-md-12 col-12 py-2 px-2">
                      			 					 
					</div>-->
					<div class="clearfix"></div>
                  </div>
				  <div class="border-1 rounded border-primary pb-0">
				    <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between" style="margin-top: 0px;">
						<span class="text-white m-0">Last 5 Batch Details</span>
						<span class="text-white m-0 get_btn">Get Details</span>
					</div>
					<div class="clearfix"></div>
                  </div>
				  <div class="border-1 rounded border-primary pb-0">
				    <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between" style="margin-top: -1px;">
						<span class="text-white m-0">Last 5 Sale/Reload/Earning Details</span>
						<span class="text-white m-0 get_btn">Get Details</span>
					</div>
					<div class="clearfix"></div>
                  </div>
				</div>
				<div class="col-lg-3 col-md-3 col-12 pl-0 pr-0">
                  <div class="border-1 rounded border-primary pb-0">
                    <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between">
						<span class="text-white m-0 font14">Key Information</span>
					</div>
                    <div class="col-lg-12 col-md-12 col-12 px-0 mt-0">
						<table class="table table-striped d-md-table d-block">
						  <thead>
							<tr style="background-color:#636363;color:#fff;">
							  <th>Terminal ID</th>
							  <th>Date of Installation</th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <td>5000061988</td>
							  <td>03/06/2022 16:46:24</td>
							</tr>
							<tr>
							  <td>5000061988</td>
							  <td>03/06/2022 16:46:24</td>
							</tr>
							<tr>
							  <td>5000061988</td>
							  <td>03/06/2022 16:46:24</td>
							</tr>
							<tr>
							  <td>5000061988</td>
							  <td>03/06/2022 16:46:24</td>
							</tr>
							<tr>
							  <td>5000061988</td>
							  <td>03/06/2022 16:46:24</td> 
							</tr>
						 </tbody>
					  </table>
					</div>
					<div class="clearfix"></div>
				  </div>
				  <div class="border-1 rounded border-primary mt-3">
                    <p class="text-white px-3 py-2 bg_blue_sty m-0 font14">Notifications</p>
					<div class="Notification_list">
						<div class="microsoft text_width_area">
							<div class="marquee">
								<p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
								<p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
								<p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
								<p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
								<p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
								<p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
								<p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
								<p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
								<p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
							</div>
						</div>
					</div>
				  </div>
				  <div class="border-1 rounded border-primary mt-3">
                    <p class="text-white px-3 py-2 bg_blue_sty m-0 font14">Download</p>
					<div class="d-flex align-items-center justify-content-start mt-3">
						<div class="download_cards_box mb-3 product_guide_bg">
							<i class="fa fa-download"></i>
							Product Guide
						</div>
						<div class="download_cards_box mb-3 web_user_guide_bg">
							<i class="fa fa-download"></i>
							Web User Guide
						</div>
					</div>
				  </div>
				</div>
			  </div>
            </form>
            <div class="clearfix"></div>
          </div>
        </div>