@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessRedirect</title>
</head>
<body>
    
         @*<div class="createmessagearea alert alert-success">
        <p>KYC Documents Uploaded Successfully With Customer Reference No. @ViewBag.CustomerReferenceNo  &nbsp;&nbsp;<br /> @Html.ActionLink("Click Here to Create Cards", "AddCardDetails", new { CustomerReferenceNo = @ViewBag.CustomerReferenceNo }, null)</p>
   </div>*@
    <div class="createmessagearea alert alert-success">
            <p>KYC Documents Uploaded Successfully With Customer Reference No. @ViewBag.CustomerReferenceNo  &nbsp;&nbsp;</p>
        </div>

</body>
</html>