@model HPCL.Common.Models.ViewModel.CustomerRequest.GetSmsAlertForMultipleMobileDetailReq

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<div class="bg-white p-2 p-md-4">
    <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
        <li class="breadcrumb-item"><a href="@Url.Action("Index")" class="text_primary">Requests</a> </li>
        <li class="breadcrumb-item font-weight-light">Configure SMS Alerts to Multiple Mobile Number(s)</li>
    </ul>
    <form id="formVal" method="post" data-ajax="true" data-ajax-controller="CustomerRequest" data-ajax-action="ConfigureSMSAlertstoMultipleMobileNumber" data-ajax-method="POST" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
        <div class="w-100">
            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                <div class="border-1 rounded border-grey pb-3">
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Configure SMS Alerts to Multiple Mobile Number(s)</p>
                    <div class="col-lg-12 col-md-12 col-12 pt-3">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="col-lg-12 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-0">
                                    <label class="font-weight-normal col-md-2 col-12">Customer ID <sup class="text-danger">*</sup></label>
                                    <div class="col-sm-3 col-md-3 col-12">
                                        <div class="custom_select">
                                            @Html.TextBoxFor(m => m.CustomerID, new { @id = "CustomerDefaultVal", @class = "form-control", onkeypress = "return isNumberKey(event)" })
                                            @Html.ValidationMessageFor(m => m.CustomerID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-12">
                                        <div class="d-flex align-items-center flex-wrap">
                                            <div class="px-0">
                                                <button class="btn btn_primary regrate_btn" type="submit">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3">
                <div class="border-1 rounded border-grey pb-0">
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Customer Information</p>
                    <div class="col-lg-12 col-md-12 col-12 pt-3">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="col-lg-6 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-3">
                                    <label class="font-weight-normal col-md-4 col-12">Customer Name</label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="customerName" type="text" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-3">
                                    <label class="font-weight-normal offset-md-1 col-md-4 col-12">Name On Card</label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="NameOnCard" type="text" value="Ram kumar" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="col-lg-6 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-3">
                                    <label class="font-weight-normal col-md-4 col-12">Registered Mobile</label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="RegisteredMobile" type="text" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3">
                <div class="border-1 rounded border-grey pb-0">
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Alternate Mobile Number(s)</p>
                    <div class="col-lg-12 col-md-12 col-12 pt-3">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-3">
                                    <label class="font-weight-normal col-md-4 col-12">Mobile No</label>
                                    <div class="col-md-8 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="" name="" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-3">
                                    <label class="font-weight-normal col-md-4 col-12">Name </label>
                                    <div class="col-md-8 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="" name="" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-3">
                                    <label class="font-weight-normal col-md-4 col-12">Designation</label>
                                    <div class="col-md-6 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="" name="" type="text" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-12 px-0">
                                        <button class="btn btn_primary" type="button" style="height:30px;">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-3">
                                    <label class="font-weight-normal col-md-4 col-12">Mobile No</label>
                                    <div class="col-md-8 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="" name="" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-3">
                                    <label class="font-weight-normal col-md-4 col-12">Name </label>
                                    <div class="col-md-8 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="" name="" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-3">
                                    <label class="font-weight-normal col-md-4 col-12">Designation</label>
                                    <div class="col-md-6 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="" name="" type="text" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-12 px-0">
                                        <button class="btn btn_primary" type="button" style="height:30px;">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-3">
                                    <label class="font-weight-normal col-md-4 col-12">Mobile No</label>
                                    <div class="col-md-8 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="" name="" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-3">
                                    <label class="font-weight-normal col-md-4 col-12">Name </label>
                                    <div class="col-md-8 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="" name="" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-3">
                                    <label class="font-weight-normal col-md-4 col-12">Designation</label>
                                    <div class="col-md-6 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="" name="" type="text" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-12 px-0">
                                        <button class="btn btn_primary" type="button" style="height:30px;">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-3">
                                    <label class="font-weight-normal col-md-4 col-12">Mobile No</label>
                                    <div class="col-md-8 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="" name="" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-3">
                                    <label class="font-weight-normal col-md-4 col-12">Name </label>
                                    <div class="col-md-8 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="" name="" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-3">
                                    <label class="font-weight-normal col-md-4 col-12">Designation</label>
                                    <div class="col-md-6 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="" name="" type="text" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-12 px-0">
                                        <button class="btn btn_primary" type="button" style="height:30px;">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </form>
    <div class="clearfix"></div>
</div>

<script>
    $('#CustomerDefaultVal').on('paste', function (event) {
        if (event.originalEvent.clipboardData.getData('Text').match(/[^\d]/)) {
            event.preventDefault();
        }
    });

    function resetClick(){
        location.reload();
    }

    $(document).ready(function () {
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
     });

     function OnSuccess(res){

     }
</script>