<div style="width:100%;">
    <div class="pt-3 px-0">
        <div class="d-flex align-items-stretch justify-content-start flex-wrap">
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("HotlistAndReactivate", "Hotlisting")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Hotlist/Reactivate</h4>
                        <p>Hotlist Customer/Card/ Merchant/Terminal and Reactivate</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ViewHotlistedEntity", "Hotlisting")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>View Hotlisted/Reactivated Data</h4>
                        <p>View Hotlisted/Reactivated Data</p>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</div>