@model HPCL.Common.Models.ResponseModel.MerchantFinancial.BatchDetailsResponse
@using Microsoft.AspNetCore.Http;

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4" style="background: #edecec !important;">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","MerchantFinancials")" class="text_primary">Financial</a> </li>
            <li class="breadcrumb-item font-weight-light">Batch Details</li>
        </ul>
        <form>
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-0">
                        <p class="text-white px-3 py-2 m-0 font-weight-bold" style="background: #084693;">Batch Details</p>
                        <div class="col-lg-12 col-md-12 col-12 py-3 bg-white">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Batch ID <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.BatchId, new { @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off" })
                                                <span style="display:none" class="error" id="batchId_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal offset-md-1 col-md-4 col-12">Terminal ID <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.TerminalId, new { @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off" })
                                                <span style="display:none" class="error" id="terminalId_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-0">
                                <div class="px-2">
                                    <button class="btn btn_primary" id="btnSearch" type="button">SEARCH</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" id="btnReset" type="button">RESET</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </form>

        <div id="MerchantBatchDetails" class="table-responsive" style="display:none;">
            <table class="table table-striped table-bordered d-md-table d-block text-nowrap display table-responsive mt-3" style="width:100%;">
                <thead>
                    <tr>
                        <th>ROC</th>
                        <th>Account Number</th>
                        <th>Transaction Date/Time</th>
                        <th>Transaction Type</th>
                        <th>Amount</th>
                        <th>CCMS/Cash Balance</th>
                        <th>Voided ROC</th>
                        <th>Voided By ROC</th>
                        <th>Product</th>
                        <th>Price(Rs.)</th>
                        <th>Volume(Ltr.)</th>
                        <th>ServiceCharge</th>
                    </tr>
                </thead>
            </table>

        </div>

        <div class="clearfix"></div>
        <div>
            <div id="message" class="mb-3 text-center" style="display:none">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

    });
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    $("#btnSearch").on("click", (function (e) {
        var terminalId = "", batchId = "",flag="Y";

        terminalId = $("#TerminalId").val();
        batchId = $("#BatchId").val();
        if (batchId == "") {
            $("#batchId_error").attr("style", "display:block");
            $("#batchId_error").html("Batch ID is required");
            flag = "N";
        }
        if (terminalId == "") {
            $("#terminalId_error").attr("style", "display:block");
            $("#terminalId_error").html("Terminal ID is required");
            flag = "N";
        }
        else {
            if (!terminalId.match(mappedterminalID)) {
                $("#terminalId_error").attr("style", "display:block");
                $("#terminalId_error").html("Invalid Terminal ID");
                flag = "N";
            }
        }
        if (flag == "N")
            e.preventDefault();
        else {
            $("#batchId_error").attr("style", "display:none");
            $("#batchId_error").html("");
            $("#terminalId_error").attr("style", "display:none");
            $("#terminalId_error").html("");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetBatchDetails", "MerchantFinancials")',
                data: { terminalId: terminalId, batchId: batchId },  // data to submit
                dataType: "json",
                success: function (data, status, xhr) {
                    console.log(data);
                    if (status == 'success') {

                        $("#message").attr("style", "display:none");
                        $("#MerchantBatchDetails td").parent().remove();
                        if (data.batchDetailsResponseData.length > 0) {
                            for (var i = 0; i < data.batchDetailsResponseData.length; i++) {
                                var rows = "<tbody><tr>"

                                    + "<td><span class='rowData'>" + (data.batchDetailsResponseData[i].invoiceNo || '') + "</span></td>"
                                    + "<td><span class='rowData'>" + (data.batchDetailsResponseData[i].cardNo || '') + "</span></td>"
                                    + "<td><span class='rowData'>" + (data.batchDetailsResponseData[i].transactionDate || '') + "</span></td>"
                                    + "<td><span class='rowData'>" + (data.batchDetailsResponseData[i].transactionType || '') + "</span></td>"
                                    + "<td><span class='rowData'>" + (data.batchDetailsResponseData[i].invoiceAmount || '') + "</span></td>"
                                    + "<td><span class='rowData'>" + (data.batchDetailsResponseData[i].ccmsCashBalance || '') + "</span></td>"
                                    + "<td><span class='rowData'>" + (data.batchDetailsResponseData[i].voidedRoc || '') + "</span></td>"
                                    + "<td><span class='rowData'>" + (data.batchDetailsResponseData[i].voidedByRoc || '') + "</span></td>"
                                    + "<td><span class='rowData'>" + (data.batchDetailsResponseData[i].productName || '') + "</span></td>"
                                    + "<td><span class='rowData'>" + (data.batchDetailsResponseData[i].fuelPrice || '') + "</span></td>"
                                    + "<td><span class='rowData'>" + (data.batchDetailsResponseData[i].volume || '') + "</span></td>"
                                    + "<td><span class='rowData'>" + (data.batchDetailsResponseData[i].serviceCharge || '') + "</span></td></tr></tbody> "


                                $('#MerchantBatchDetails table').append(rows);


                            }

                            $('#MerchantBatchDetails table').DataTable({
                                "lengthMenu": [10, 20, 50, 100, 200, 500, 1000, 2000],
                                "autoWidth": false,
                                "oLanguage": {
                                    "sLengthMenu": "Display _MENU_ Records",
                                    "info": "Showing _START_ to _END_ of _TOTAL_ Records",
                                }
                            });
                        }


                        if (data.batchDetailsResponseData.length == 0 ) {
                            $("#message").html("");
                            $("#message").append("<span>" + data.message + "</span>");

                            $("#message").attr("style", "display:block;background-color:#f9c9c9; color:#8d0d0d; border-color: #f3abab;");
                            $("#MerchantBatchDetails").attr("style", "display:none");

                        }
                        else {
                            $("#message").attr("style", "display:none");
                            $("#MerchantBatchDetails").attr("style", "display:block");
                            $('html, body').animate({
                                scrollTop: $("#MerchantBatchDetails table").offset().top
                            }, 2000);
                        }
                    }

                },
            });
        }

    })
    );
    $("#btnReset").click(function () {
        window.location.reload(true);
    });
</script>

