@model HPCL.Common.Models.ViewModel.HDFCBankCreditPouch.CustomerDetailsReq

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<div class="col-lg-12 px-0">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="#" class="text_primary">HDFC Bank Credit Pouch</a> </li>
            <li class="breadcrumb-item font-weight-light">Exception Request to Add Customer for HDFC Bank Credit Pouch</li>
        </ul>

        <div class="w-100">
            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                <div class="border-1 rounded border-grey">
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Exception Request to Add Customer for HDFC Bank Credit Pouch</p>

                    <form id="formVal" method="post" data-ajax="true" asp-controller="HDFCBankCreditPouch" asp-action="ExceptionRequestToAddCustomer" data-ajax-method="POST" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-12 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-2 col-12">Customer ID <sup class="text-danger">*</sup></label>
                                        <div class="col-md-3 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.CustomerId, new { @id = "CustomerDefaultVal", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.CustomerId, "", new {@id="CustomerIdErr", @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-12">
                                            <div class="d-flex align-items-center justify-content-start mt-0">
                                                <div class="px-2">
                                                    <button class="btn btn_primary" type="submit">Submit</button>
                                                </div>
                                                <div class="px-2">
                                                    <button class="btn btn_primary" type="button">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    <div id="noRecord" class="mb-3 text-center alert alert-danger" style="display:none;"></div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3" id="customerDetailsSection" style="display:none;">
                <div class="border-1 rounded border-grey">
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Customer Detail</p>
                    <div class="col-lg-12 col-md-12 col-12 py-3">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-2">
                                    <label class="font-weight-normal col-md-5 col-12 mb-0">Customer ZO </label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select" id="custZonal">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-2">
                                    <label class="font-weight-normal col-md-6 col-12 mb-0">Customer RO </label>
                                    <div class="col-md-6 col-12">
                                        <div class="custom_select" id="custRegional">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-2">
                                    <label class="font-weight-normal col-md-5 col-12 mb-0">Customer Name </label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select" id="custName">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-2">
                                    <label class="font-weight-normal col-md-5 col-12 mb-0">Name On Card</label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select" id="nameOnCard">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-2">
                                    <label class="font-weight-normal col-md-6 col-12 mb-0">Last Transaction Date</label>
                                    <div class="col-md-6 col-12">
                                        <div class="custom_select" id="transDate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-2">
                                    <label class="font-weight-normal col-md-5 col-12 mb-0">Last Quarter Spends</label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select" id="lastQuaterSpend">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-2">
                                    <label class="font-weight-normal col-md-5 col-12 mb-0">Customer Type</label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select" id="custType">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div id="AlreadyEnroll" class="mb-3 text-center alert alert-danger" style="display:none;"></div>
                </div>
            </div>

            <div id="custEnrollUpdateSection" style="display:none">
                <form>
                    <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3">
                        <div class="border-1 rounded border-grey">
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Enroll/Update</p>
                            <div class="col-lg-12 col-md-12 col-12 py-3">
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="col-lg-6 col-12">
                                        <div class="d-flex align-items-center flex-wrap mb-3">
                                            <label class="font-weight-normal col-md-4 col-12">Quarterly Fuel Consumption in (RS)<sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    <input class="form-control" id="" name="fromdate" type="text" value="" onchange="checkPlan(this)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="d-flex align-items-center flex-wrap mb-3">
                                            <label class="font-weight-normal offset-md-1 col-md-4 col-12">Plan<sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.DropDownList("PlanType", Enumerable.Empty<SelectListItem>(), new { @class = "form-control disableSumo typePlan", @readonly = "readonly", disabled = "disabled" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="col-lg-6 col-12">
                                        <div class="d-flex align-items-center flex-wrap mb-3">
                                            <label class="font-weight-normal col-md-4 col-12">Bank Name</label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    <select class="form-control disableSumo" disabled="disabled">
                                                        <option>HDFC Bank</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="d-flex align-items-center flex-wrap mb-3">
                                            <label class="font-weight-normal offset-md-1 col-md-4 col-12">Reference No</label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    <input class="form-control" id="refNo" name="" type="text" value="" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="col-lg-6 col-12">
                                        <div class="d-flex align-items-center flex-wrap mb-3">
                                            <label class="font-weight-normal col-md-4 col-12">Comment<sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    <textarea class="form-control" rows="2"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mt-0">
                                    <div class="px-2">
                                        <button class="btn btn_primary" type="button">Enroll</button>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>


<script>

    function resetClick() {
        window.location.reload(true);
    }

    $('input').on('paste', function (event) {
        if (event.originalEvent.clipboardData.getData('Text').match(/[^\d]/)) {
            event.preventDefault();
        }
    });

    $(document).ready(function () {

        $('select.disableSumo')[0].sumo.unload();

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
    });

    function OnSuccess(res) {

        document.getElementById("noRecord").style.display = "none";
        document.getElementById("noRecord").style.display = "none";

        console.log(res);

        if (res.searchList.success == true) {

            if(res.searchList.data[0].status == 1){
                $("#custZonal").html('');
                $("#custRegional").html('');
                $("#custName").html('');
                $("#nameOnCard").html('');
                $("#transDate").html('');
                $("#lastQuaterSpend").html('');
                $("#custType").html('');
                $("#custZonal").append("<span>"+(res.searchList.data[0].zo || '')+"</span>");
                $("#custRegional").append("<span>"+(res.searchList.data[0].ro || '')+"</span>");
                $("#custName").append("<span>"+(res.searchList.data[0].customerName || '')+"</span>");
                $("#nameOnCard").append("<span>"+(res.searchList.data[0].nameOnCard || '')+"</span>");
                $("#transDate").append("<span>"+(res.searchList.data[0].lastTransactionDate || '')+"</span>");
                $("#lastQuaterSpend").append("<span>"+(res.searchList.data[0].totalSpend || '')+"</span>");
                $("#custType").append("<span>"+(res.searchList.data[0].customerType || '')+"</span>")

                document.getElementById("customerDetailsSection").style.display = "block";
                document.getElementById("custEnrollUpdateSection").style.display = "block";
            }else{
                document.getElementById("customerDetailsSection").style.display = "block";
                document.getElementById("custEnrollUpdateSection").style.display = "none";
                $("#AlreadyEnroll").html("");
                $("#AlreadyEnroll").append("<span>" + res.searchList.data[0].reason + "</span>");
                document.getElementById("AlreadyEnroll").style.display = "block";
            }
        }else{
                document.getElementById("customerDetailsSection").style.display = "none";
                document.getElementById("custEnrollUpdateSection").style.display = "none";
                $("#noRecord").html("");
                $("#noRecord").append("<span>" + res.searchList.message + "</span>");
                document.getElementById("noRecord").style.display = "block";
            }
        
    }

    function checkPlan(res){
        var amountVal = res.value;

        $('select.disableSumo')[0].sumo.unload();
        $('select.disableSumo')[1].sumo.unload();

        $.ajax({
            url: "@Url.Action("CheckPlan", "HDFCBankCreditPouch")",
            data: { amount: amountVal},
            type: "POST",
            dataType: "JSON",
            success: function (res) {

                console.log("res",res);

                if(res.searchList.success == true){
                    var plans = $('<option value="' + res.searchList.data[0].planId + '">' + (res.searchList.data[0].planName || '') + '</option>');
                    $('#PlanType').append(plans);
                    $('#PlanType').attr("disabled", true);
                    $("#refNo").attr("readonly", false);
                }else{
                    $(".typePlan").html("")
                    var plans = $('<option>Select</option>');
                    $('#PlanType').append(plans);
                    $('#PlanType').attr("disabled", true);
                    $("#refNo").attr("readonly", false);
                }

            },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });
    }
</script>