
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  
@using Microsoft.AspNetCore.Http;

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  
        <script type="text/javascript">
           $(document).ready(function () {
               $("#hdfcPG").submit();

                //$(function(){
                //  $('#hdfcPG').submit(function(){
                //    $.post($(this).attr('action'), $(this).serialize(), function(json) {
                //      alert(json);
                //    }, 'json');
                //    return false;
                //  });
                //});
           });
       </script>
    <title>
    </title>
</head>
<body>

    <form id="hdfcPG" method="post" name="redirect" action="@Context.Session.GetString("pgurlccmsrec")">          
        <input type="hidden" id="encRequest" name="encRequest" value="@Context.Session.GetString("reqhashccmsrec")"/>
        <input type="hidden" name="access_code" id="Hidden1" value="@Context.Session.GetString("accesscodeccmsrec")"/>
    </form>
</body>
</html>
