<div style="width:100%;">
    <div class="pt-3 px-0">
        <div class="d-flex align-items-stretch justify-content-start flex-wrap">
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Manage Users</h4>
                        <p>Create and Manage New Users and Assign the Required Roles</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_roles.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Manage Roles</h4>
                        <p>Create and Manage Custom Roles</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/mcm.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Multiple Customer Mapping</h4>
                        <p>Map Multiple Customer to a Single User</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/view_multiple_customer_mapping.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>View Multiple Customer Mapping</h4>
                        <p>Map Multiple Customer to a Single User</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>User Creation Request</h4>
                        <p>Place User Creation Request</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation_app.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>User Creation Approval</h4>
                        <p>Approval / Rejection of user Created</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>User Creation Request View</h4>
                        <p>View User Creation Request Status </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_approval.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Aggregator Addon Users Approval</h4>
                        <p>Aggregator Addon users approval by MO</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/Manage-Aggregator-Users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Manage Aggregator Users </h4>
                        <p>Create and Manage New Aggregator Users and Assign the Required Roles </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/Manage-API-Roles.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Manage API Roles</h4>
                        <p>Create and Manage Custom API Roles</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/Right-to-change-Montly-sale-Limit.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Right to change Montly sale Limit </h4>
                        <p>Additional Rights to change Montly sale Limit</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>