@{
    ViewData["Title"] = "Profile";
    Layout = "";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/favicon.ico">
    <meta name="theme-color" content="#74cbcb" />
    <link rel="manifest" href="~/assets/manifest.json">
    <title>HP Pay : DT Plus</title>
    <!-- Bootstrap core CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="~/assets/aos/aos.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.css">
</head>

<body>

    <header class="bb1">
        <div class="top_header py-2 py-md-3">
            <div class="d-flex align-items-center justify-content-start flex-wrap navbar-expand-lg">
                <div class="d-flex align-items-center justify-content-start col-lg-3 col-md-4 col-7 py-2">
                    <a class="navbar-brand header_logo" href="index.html">
                        <img src="~/assets/images/logo.png" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="col-lg-6 col-12 d-none d-lg-block">
                    <ul class="header_contact">
                        <li class="">
                            <a href="#">
                                <div class="d-flex align-items-start justify-content-between">
                                    <img src="~/assets/images/call_icon.png" alt="">
                                    <div class="">
                                        Customer Care<br>1800-10-39811

                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <div class="d-flex align-items-start justify-content-between">
                                    <img src="~/assets/images/clock_icon.png" alt="">
                                    <div class="">
                                        Dealer Help Desk<br>0120-4585510/11

                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <div class="d-flex align-items-start justify-content-between">
                                    <img src="~/assets/images/message_icon.png" alt="">
                                    <div class="">
                                        SMS Service No.<br>9223 076601

                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-8 col-5 py-2">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="d-flex align-items-center justify-content-start">
                            <ul class="list-unstyled d-flex align-items-center header_right m-0">
                                <li>Welcome <a href="#"> Admin</a></li>
                                <li><a href="#" class="logOut_btn d-flex align-items-center justify-content-center"><img src="~/assets/images/logOut_icon.png" alt=""><span class="ml-2 d-none d-sm-block"> Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="d-flex align-items-center justify-content-end flex-wrap mt-3 bg_sky_blue">
                <div class="col-lg-4 col-12 d-none d-lg-block py-2">
                    <div class="input-group mb-0 header_input_group  bg-white">
                      <div class="input-group-prepend">
                        <span class="input-group-text "><img src="~/assets/images/search_icon.png" alt=""></span>
                      </div>
                      <input type="search" class="form-control" aria-label="Start Searching" placeholder="Start Searching">
                      <div class="input-group-append">
                        <div class="search_filter_btn">
                            <select name="" id="">
                                <option value="">Filter By</option>
                                <option value="">Category</option>
                                <option value="">Products</option>
                                <option value="">Loyalty</option>
                            </select>
                          </div>
                      </div>
                  </div>
                </div>
            </div>-->
        </div>
    </header>
    <main role="main">
        <div class="bg-grey px-0 ">
            <div class="container-fluid">
                <div class="d-flex align-items-stretch row">
                    <div class="col-md-3 pl-0 pr-0">
                        <div class="sidebar_wrapper  h-100" id="sidebar">
                            <div class="sidebar_menus">
                                <ul>
                                    <li><a href="#" class="active">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Benefits</a></li>
                                    <li><a href="#">Rewards</a></li>
                                    <li><a href="@Url.Action("OnlineForm","Customer")">Customer Connect</a></li>
                                    <li><a href="#">Mobile Application</a></li>
                                    <li><a href="#">Retail Outlet Network</a></li>
                                    <li><a href="#">Be a Member</a></li>
                                    <li><a href="#">Downloads</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">HP Re-Fuel Card</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                            <div id="trigger" class="trigger"></div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="py-3 px-0 p-md-4">
                            <div class="d-flex align-items-stretch justify-content-between flex-wrap">
                                <div class="col-md-6 col-12 mb-3">
                                    <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                                        <div class="thumb_icon">
                                            <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="px-3">
                                            <h4>Manage Users</h4>
                                            <p>Create and Manage New Users and Assign the Required Roles</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-12 mb-3">
                                    <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                                        <div class="thumb_icon">
                                            <img src="~/assets/images/manage_roles.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="px-3">
                                            <h4>Manage Roles</h4>
                                            <p>Create and Manage Custom Roles</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex align-items-stretch justify-content-between  flex-wrap">
                                <div class="col-md-6 col-12 mb-3">
                                    <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                                        <div class="thumb_icon">
                                            <img src="~/assets/images/mcm.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="px-3">
                                            <h4>Multiple Customer Mapping</h4>
                                            <p>Map Multiple Customer to a Single User</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-12 mb-3">
                                    <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                                        <div class="thumb_icon">
                                            <img src="~/assets/images/view_multiple_customer_mapping.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="px-3">
                                            <h4>View Multiple Customer Mapping</h4>
                                            <p>Map Multiple Customer to a Single User</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex align-items-stretch justify-content-between  flex-wrap">
                                <div class="col-md-6 col-12 mb-3">
                                    <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                                        <div class="thumb_icon">
                                            <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="px-3">
                                            <h4>User Creation Request</h4>
                                            <p>Place User Creation Request</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-12 mb-3">
                                    <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                                        <div class="thumb_icon">
                                            <img src="~/assets/images/user_creation_app.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="px-3">
                                            <h4>User Creation Approval</h4>
                                            <p>Approval / Rejection of user Created</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex align-items-stretch justify-content-between  flex-wrap">
                                <div class="col-md-6 col-12 mb-3">
                                    <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                                        <div class="thumb_icon">
                                            <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="px-3">
                                            <h4>User Creation Request View</h4>
                                            <p>View User Creation Request Status </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-12 mb-3">
                                    <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                                        <div class="thumb_icon">
                                            <img src="~/assets/images/user_approval.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="px-3">
                                            <h4>Aggregator Addon Users Approval</h4>
                                            <p>Aggregator Addon users approval by MO</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex align-items-stretch justify-content-between  flex-wrap">
                                <div class="col-md-6 col-12 mb-3">
                                    <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                                        <div class="thumb_icon">
                                            <img src="~/assets/images/Manage-Aggregator-Users.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="px-3">
                                            <h4>Manage Aggregator Users </h4>
                                            <p>Create and Manage New Aggregator Users and Assign the Required Roles </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-6 col-12 mb-3">
                                    <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                                        <div class="thumb_icon">
                                            <img src="~/assets/images/Manage-API-Roles.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="px-3">
                                            <h4>Manage API Roles</h4>
                                            <p>Create and Manage Custom API Roles</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex align-items-stretch justify-content-between  flex-wrap">
                                <div class="col-md-6 col-12 mb-3">
                                    <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                                        <div class="thumb_icon">
                                            <img src="~/assets/images/Right-to-change-Montly-sale-Limit.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="px-3">
                                            <h4>Right to change Montly sale Limit </h4>
                                            <p>Additional Rights to change Montly sale Limit</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>


    </main>
    <footer class="main_footer">
        <div class="copyright_text p-4">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <div class="col-md-4 col-12 py-2">
                        <div class="footer_links">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Legal Notice</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 py-2">
                        <p class="footer_text text-white text-sm text-center mb-0">DriveTrackPlus Version(Build 4.8.3, Revision 19830)</p>
                    </div>
                    <div class="col-md-4 col-12 py-2">
                        <p class="footer_text text-white text-sm text-center mb-0">© 2021, HPCL. All rights reserved</p>
                    </div>

                </div>


            </div>
            <a href="#" class="bottom_logo"><img src="~/assets/images/footer_hp.png" class="img-fluid" alt=""></a>
        </div>
    </footer>


    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="~/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/vendor/popper.min.js"></script>
    <script src="~/assets/aos/aos.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="~/assets/css/jquery.es-drawermenu.min.css">
    <script src="~/assets/js/jquery.slidereveal.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.es-drawermenu.js"></script>

    <script src="~/assets/js/mloyal.js"></script>

    <script>
      AOS.init({
        easing: 'ease-in-out-sine'
      });
    </script>

</body>
</html>
