@model HPCL_Web.Models.CustomerModel

<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <h5>Online Form</h5>
        <ul class="nav nav-tabs mt-2 form_tabs" id="formTab" role="tablist">
            <li class="nav-item"> <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Information</a> </li>
            <li class="nav-item"> <a class="nav-link disable" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">Address</a> </li>
            <li class="nav-item"> <a class="nav-link disable" id="officialDetails-tab" data-toggle="tab" href="#officialDetails" role="tab" aria-controls="officialDetails" aria-selected="false">Key Official Details</a> </li>
            <li class="nav-item"> <a class="nav-link disable" id="cardDetails-tab" data-toggle="tab" href="#cardDetails" role="tab" aria-controls="cardDetails" aria-selected="false">Card Details</a> </li>
            <li class="nav-item"> <a class="nav-link disable" id="uploadDocuments-tab" data-toggle="tab" href="#uploadDocuments" role="tab" aria-controls="uploadDocuments" aria-selected="false">Upload Documents</a> </li>
        </ul>
        <form name="applicationForm" onsubmit="return submitForm()" class="w-100">
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                    <div class="w-100">
                        <div class="col-lg-6 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                            <div class="border-1 rounded border-grey">
                                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Application Details</p>
                                <div class="py-2 pr-4 pl-0 pr-md-4">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Customer Type <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <select name="customerType" id="" class="form-control">
                                                    <option selected="selected" value="-1">--Select--</option>
                                                    <option value="901">Fleet</option>
                                                    <option value="902">Corporates</option>
                                                    <option value="905">Attached</option>
                                                    <option value="906">Credit</option>
                                                    <option value="909">Generic</option>
                                                    <option value="917">Non Fleet</option>
                                                    <option value="918">OTC</option>
                                                    <option value="925">Agent</option>
                                                    <option value="970">CargoFL</option>
                                                    <option value="978">M2P</option>
                                                </select>
                                            </div>
                                            <span class="error" id="customerType_error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Zonal Office <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <select name="zonalOffice" id="" class="form-control">
                                                    <option selected="selected" value="-1">--Select--</option>
                                                    <option value="7">NORTH ZONE</option>
                                                    <option value="9">WEST ZONE</option>
                                                </select>
                                            </div>
                                            <span class="error" id="zonalOffice_error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Date of Application <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <input type="date" name="applicationDate" class="form-control">
                                            <span class="error" id="applicationDate_error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Sales Area <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <input type="text" name="salesArea" class="form-control">
                                            <span class="error" id="salesArea_error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Customer Sub Type <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <select name="customerSubType" id="" class="form-control">
                                                    <option selected="selected" value="-1">--Select--</option>
                                                    <option value="901">Fleet</option>
                                                    <option value="902">Corporate</option>
                                                    <option value="905">Attached</option>
                                                    <option value="906">Credit</option>
                                                    <option value="909">Generic</option>
                                                    <option value="917">Non Fleet</option>
                                                    <option value="918">OTC</option>
                                                    <option value="925">Agent</option>
                                                    <option value="970">CargoFL</option>
                                                    <option value="978">M2P</option>
                                                </select>
                                            </div>
                                            <span class="error" id="customerSubType_error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Regional Office <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <select name="regionalOffice" id="" class="form-control">
                                                    <option selected="selected" value="-1">--Select--</option>
                                                    <option value="7">NORTH ZONE</option>
                                                    <option value="9">WEST ZONE</option>
                                                </select>
                                            </div>
                                            <span class="error" id="regionalOffice_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12 pr-0 pl-md-2 pl-0 py-2">
                            <div class="border-1 rounded border-grey h-100">
                                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Personal Details</p>
                                <div class="py-2 pr-4 pl-0 pr-md-4">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Individual/Org. Name <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="custom_select">
                                                        <select name="salutaion" id="" class="form-control">
                                                            <option value="">Mr.</option>
                                                            <option value="">Mrs.</option>
                                                            <option value="">Ms.</option>
                                                        </select>
                                                    </div>
                                                    <span class="error" id="salutaion_error"></span>
                                                </div>
                                                <div class="col-8 pl-0">
                                                    <input type="text" name="individualName" class="form-control">
                                                    <span class="error" id="individualName_error"></span>
                                                </div>
                                                <a href="#" class="form_info" title="Name of Individual/Org.">?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Name on Card <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <input type="text" name="nameOnCard" class="form-control">
                                            <span class="error" id="nameOnCard_error"></span> <a href="#" class="form_info" title="As it will appear on the card, characters including spaces not to exceed 22">?</a>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Type of Business Entity <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <select name="typeOfbusiness" id="" class="form-control">
                                                    <option selected="selected" value="1601">Partnership</option>
                                                    <option value="1602">Sole Proprietorship</option>
                                                    <option value="1603">Public/Pvt Ltd Co</option>
                                                    <option value="1604">HUF</option>
                                                    <option value="1605">Others</option>
                                                    <option value="1606">KYC For Companies</option>
                                                    <option value="1607">KYC For Partnership firms</option>
                                                    <option value="1608">Trust and Foundation</option>
                                                    <option value="1609">KYC For properitership</option>
                                                    <option value="1610">Govt Dept Does Not Have PAN</option>
                                                </select>
                                            </div>
                                            <span class="error" id="typeOfbusiness_error"></span> <a href="#" class="form_info" title="Type of Business Entity">?</a>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Residence Status</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <select name="residenceStatus" id="" class="form-control">
                                                    <option value="">Indian</option>
                                                    <option value="">NRI</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Income Tax PAN<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <input type="text" name="incomeTaxPan" class="form-control">
                                            <span class="error" id="incomeTaxPan_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="d-flex align-items-center justify-content-center mt-3">
                            <div class="px-2">
                                <button class="btn btn_primary px-4 py-2" type="button" onclick="return showregAddress()">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                    <div class="border-1 rounded border-grey h-100">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Communication Address</p>
                        <div class="py-2 p-md-4">
                            <div class="d-flex align-items-center justify-content-between flex-wrap row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Address 1<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <input type="text" name="comm_address1" class="form-control">
                                            <span class="error" id="comm_address1_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Address 2</label>
                                        <div class="col-md-7 col-12">
                                            <input type="text" name="comm_address2" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Address 3</label>
                                        <div class="col-md-7 col-12">
                                            <input type="text" name="comm_address3" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Location</label>
                                        <div class="col-md-7 col-12">
                                            <input type="text" name="comm_location" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">City<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <input type="text" name="comm_city" class="form-control">
                                            <span class="error" id="comm_city_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Pin code<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <input type="number" name="comm_pincode" class="form-control">
                                            <span class="error" id="comm_pincode_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">State<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <select name="comm_states" id="" class="form-control">
                                                    <option value="-1">--Select--</option>
                                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                    <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                    <option value="Assam">Assam</option>
                                                    <option value="Bihar">Bihar</option>
                                                    <option value="Chandigarh">Chandigarh</option>
                                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                                    <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                                    <option value="Daman and Diu">Daman and Diu</option>
                                                    <option value="Delhi">Delhi</option>
                                                    <option value="Lakshadweep">Lakshadweep</option>
                                                    <option value="Puducherry">Puducherry</option>
                                                    <option value="Goa">Goa</option>
                                                    <option value="Gujarat">Gujarat</option>
                                                    <option value="Haryana">Haryana</option>
                                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                    <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                    <option value="Jharkhand">Jharkhand</option>
                                                    <option value="Karnataka">Karnataka</option>
                                                    <option value="Kerala">Kerala</option>
                                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                    <option value="Maharashtra">Maharashtra</option>
                                                    <option value="Manipur">Manipur</option>
                                                    <option value="Meghalaya">Meghalaya</option>
                                                    <option value="Mizoram">Mizoram</option>
                                                    <option value="Nagaland">Nagaland</option>
                                                    <option value="Odisha">Odisha</option>
                                                    <option value="Punjab">Punjab</option>
                                                    <option value="Rajasthan">Rajasthan</option>
                                                    <option value="Sikkim">Sikkim</option>
                                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                                    <option value="Telangana">Telangana</option>
                                                    <option value="Tripura">Tripura</option>
                                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                    <option value="Uttarakhand">Uttarakhand</option>
                                                    <option value="West Bengal">West Bengal</option>
                                                </select>
                                            </div>
                                            <span class="error" id="comm_states_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">District<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <select name="comm_district" id="" class="form-control">
                                                    <option value="-1">--Select--</option>
                                                    <option value="Agra">Agra</option>
                                                    <option value="Aligarh">Aligarh</option>
                                                    <option value="Allahabad">Allahabad</option>
                                                    <option value="Ambedkar Nagar">Ambedkar Nagar</option>
                                                    <option value="Amethi">Amethi</option>
                                                    <option value="Amroha">Amroha</option>
                                                    <option value="Auraiya">Auraiya</option>
                                                    <option value="Azamgarh">Azamgarh</option>
                                                    <option value="Baghpat">Baghpat</option>
                                                    <option value="Bahraich">Bahraich</option>
                                                    <option value="Ballia">Ballia</option>
                                                    <option value="Balrampur">Balrampur</option>
                                                    <option value="Banda">Banda</option>
                                                    <option value="Barabanki">Barabanki</option>
                                                    <option value="Bareilly">Bareilly</option>
                                                    <option value="Basti">Basti</option>
                                                    <option value="Bhadohi">Bhadohi</option>
                                                    <option value="Bijnor">Bijnor</option>
                                                    <option value="Budaun">Budaun</option>
                                                    <option value="Bulandshahr">Bulandshahr</option>
                                                    <option value="Chandauli">Chandauli</option>
                                                    <option value="Chitrakoot">Chitrakoot</option>
                                                    <option value="Deoria">Deoria</option>
                                                    <option value="Etah">Etah</option>
                                                    <option value="Etawah">Etawah</option>
                                                    <option value="Faizabad">Faizabad</option>
                                                    <option value="Farrukhabad">Farrukhabad</option>
                                                    <option value="Fatehpur">Fatehpur</option>
                                                    <option value="Firozabad">Firozabad</option>
                                                    <option value="Gautam Buddha Nagar">Gautam Buddha Nagar</option>
                                                    <option value="Ghaziabad">Ghaziabad</option>
                                                    <option value="Ghazipur">Ghazipur</option>
                                                    <option value="Gonda">Gonda</option>
                                                    <option value="Gorakhpur">Gorakhpur</option>
                                                    <option value="Hamirpur">Hamirpur</option>
                                                    <option value="Hapur">Hapur</option>
                                                    <option value="Hardoi">Hardoi</option>
                                                    <option value="Hathras">Hathras</option>
                                                    <option value="Jalaun">Jalaun</option>
                                                    <option value="Jaunpur">Jaunpur</option>
                                                    <option value="Jhansi">Jhansi</option>
                                                    <option value="Kannauj">Kannauj</option>
                                                    <option value="Kanpur Dehat">Kanpur Dehat</option>
                                                    <option value="Kanpur Nagar">Kanpur Nagar</option>
                                                    <option value="Kasganj">Kasganj</option>
                                                    <option value="Kaushambi">Kaushambi</option>
                                                    <option value="Kheri">Kheri</option>
                                                    <option value="Kushinagar">Kushinagar</option>
                                                    <option value="Lalitpur">Lalitpur</option>
                                                    <option value="Lucknow">Lucknow</option>
                                                    <option value="Maharajganj">Maharajganj</option>
                                                    <option value="Mahoba">Mahoba</option>
                                                    <option value="Mainpuri">Mainpuri</option>
                                                    <option value="Mathura">Mathura</option>
                                                    <option value="Mau">Mau</option>
                                                    <option value="Meerut">Meerut</option>
                                                    <option value="Mirzapur">Mirzapur</option>
                                                    <option value="Moradabad">Moradabad</option>
                                                    <option value="Muzaffarnagar">Muzaffarnagar</option>
                                                    <option value="Pilibhit">Pilibhit</option>
                                                    <option value="Pratapgarh">Pratapgarh</option>
                                                    <option value="Raebareli">Raebareli</option>
                                                    <option value="Rampur">Rampur</option>
                                                    <option value="Saharanpur">Saharanpur</option>
                                                    <option value="Sambhal">Sambhal</option>
                                                    <option value="Sant Kabir Nagar">Sant Kabir Nagar</option>
                                                    <option value="Shahjahanpur">Shahjahanpur</option>
                                                    <option value="Shamli">Shamli</option>
                                                    <option value="Shravasti">Shravasti</option>
                                                    <option value="Siddharthnagar">Siddharthnagar</option>
                                                    <option value="Sitapur">Sitapur</option>
                                                    <option value="Sonbhadra">Sonbhadra</option>
                                                    <option value="Sultanpur">Sultanpur</option>
                                                    <option value="Unnao">Unnao</option>
                                                    <option value="Varanasi">Varanasi</option>
                                                </select>
                                            </div>
                                            <span class="error" id="comm_district_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Phone (Office) <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-4">
                                                    <input type="number" min="0" name="comm_dial_code" class="form-control">
                                                </div>
                                                <div class="col-8 pl-0">
                                                    <input type="tel" name="comm_officePhone" class="form-control">
                                                </div>
                                            </div>
                                            <span class="error" id="comm_officePhone_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Fax</label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-4">
                                                    <input type="number" min="0" name="comm_faxCode" class="form-control">
                                                </div>
                                                <div class="col-8 pl-0">
                                                    <input type="tel" name="comm_faxNumber" class="form-control">
                                                </div>
                                            </div>
                                            <div class="error" id="comm_faxNumber_error"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Mobile<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <input type="tel" name="comm_mobileNumber" class="form-control">
                                            <div class="error" id="comm_mobileNumber_error"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Email<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <input type="email" name="comm_email" class="form-control">
                                            <div class="error" id="comm_email_error"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-1 rounded border-grey h-100 mt-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Permanent/Registered Office Address</p>
                        <div class="py-2 p-md-4">
                            <label class="d-flex align-items-center justify-content-start px-3">
                                <input type="checkbox" name="sameAddressCheck" id="sameAddressCheck" class="mr-2">
                                <p class="m-0">Same as Communication Address</p>
                            </label>
                            <div class="row w-100" id="permanent_add">
                                <div class="d-flex align-items-center justify-content-between flex-wrap">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Address 1<sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <input type="text" name="perma_address1" class="form-control">
                                                <div class="error" id="perma_address1_error"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Address 2</label>
                                            <div class="col-md-7 col-12">
                                                <input type="text" name="perma_address2" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Address 3</label>
                                            <div class="col-md-7 col-12">
                                                <input type="text" name="perma_address3" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Location</label>
                                            <div class="col-md-7 col-12">
                                                <input type="text" name="perma_location" class="form-control">
                                                <span class="error" id="perma_location_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">City<sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <input type="text" name="perma_city" class="form-control">
                                                <span class="error" id="perma_city_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Pin code<sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <input type="number" name="perma_pincode" class="form-control">
                                                <span class="error" id="perma_pincode_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">State<sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    <select name="perma_state" id="" class="form-control">
                                                        <option value="-1">--Select--</option>
                                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                        <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                        <option value="Assam">Assam</option>
                                                        <option value="Bihar">Bihar</option>
                                                        <option value="Chandigarh">Chandigarh</option>
                                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                                        <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                                        <option value="Daman and Diu">Daman and Diu</option>
                                                        <option value="Delhi">Delhi</option>
                                                        <option value="Lakshadweep">Lakshadweep</option>
                                                        <option value="Puducherry">Puducherry</option>
                                                        <option value="Goa">Goa</option>
                                                        <option value="Gujarat">Gujarat</option>
                                                        <option value="Haryana">Haryana</option>
                                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                        <option value="Jharkhand">Jharkhand</option>
                                                        <option value="Karnataka">Karnataka</option>
                                                        <option value="Kerala">Kerala</option>
                                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                        <option value="Maharashtra">Maharashtra</option>
                                                        <option value="Manipur">Manipur</option>
                                                        <option value="Meghalaya">Meghalaya</option>
                                                        <option value="Mizoram">Mizoram</option>
                                                        <option value="Nagaland">Nagaland</option>
                                                        <option value="Odisha">Odisha</option>
                                                        <option value="Punjab">Punjab</option>
                                                        <option value="Rajasthan">Rajasthan</option>
                                                        <option value="Sikkim">Sikkim</option>
                                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                                        <option value="Telangana">Telangana</option>
                                                        <option value="Tripura">Tripura</option>
                                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                        <option value="Uttarakhand">Uttarakhand</option>
                                                        <option value="West Bengal">West Bengal</option>
                                                    </select>
                                                </div>
                                                <span class="error" id="perma_state_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">District<sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    <select name="perma_district" id="" class="form-control">
                                                        <option value="-1">--Select--</option>
                                                        <option value="Agra">Agra</option>
                                                        <option value="Aligarh">Aligarh</option>
                                                        <option value="Allahabad">Allahabad</option>
                                                        <option value="Ambedkar Nagar">Ambedkar Nagar</option>
                                                        <option value="Amethi">Amethi</option>
                                                        <option value="Amroha">Amroha</option>
                                                        <option value="Auraiya">Auraiya</option>
                                                        <option value="Azamgarh">Azamgarh</option>
                                                        <option value="Baghpat">Baghpat</option>
                                                        <option value="Bahraich">Bahraich</option>
                                                        <option value="Ballia">Ballia</option>
                                                        <option value="Balrampur">Balrampur</option>
                                                        <option value="Banda">Banda</option>
                                                        <option value="Barabanki">Barabanki</option>
                                                        <option value="Bareilly">Bareilly</option>
                                                        <option value="Basti">Basti</option>
                                                        <option value="Bhadohi">Bhadohi</option>
                                                        <option value="Bijnor">Bijnor</option>
                                                        <option value="Budaun">Budaun</option>
                                                        <option value="Bulandshahr">Bulandshahr</option>
                                                        <option value="Chandauli">Chandauli</option>
                                                        <option value="Chitrakoot">Chitrakoot</option>
                                                        <option value="Deoria">Deoria</option>
                                                        <option value="Etah">Etah</option>
                                                        <option value="Etawah">Etawah</option>
                                                        <option value="Faizabad">Faizabad</option>
                                                        <option value="Farrukhabad">Farrukhabad</option>
                                                        <option value="Fatehpur">Fatehpur</option>
                                                        <option value="Firozabad">Firozabad</option>
                                                        <option value="Gautam Buddha Nagar">Gautam Buddha Nagar</option>
                                                        <option value="Ghaziabad">Ghaziabad</option>
                                                        <option value="Ghazipur">Ghazipur</option>
                                                        <option value="Gonda">Gonda</option>
                                                        <option value="Gorakhpur">Gorakhpur</option>
                                                        <option value="Hamirpur">Hamirpur</option>
                                                        <option value="Hapur">Hapur</option>
                                                        <option value="Hardoi">Hardoi</option>
                                                        <option value="Hathras">Hathras</option>
                                                        <option value="Jalaun">Jalaun</option>
                                                        <option value="Jaunpur">Jaunpur</option>
                                                        <option value="Jhansi">Jhansi</option>
                                                        <option value="Kannauj">Kannauj</option>
                                                        <option value="Kanpur Dehat">Kanpur Dehat</option>
                                                        <option value="Kanpur Nagar">Kanpur Nagar</option>
                                                        <option value="Kasganj">Kasganj</option>
                                                        <option value="Kaushambi">Kaushambi</option>
                                                        <option value="Kheri">Kheri</option>
                                                        <option value="Kushinagar">Kushinagar</option>
                                                        <option value="Lalitpur">Lalitpur</option>
                                                        <option value="Lucknow">Lucknow</option>
                                                        <option value="Maharajganj">Maharajganj</option>
                                                        <option value="Mahoba">Mahoba</option>
                                                        <option value="Mainpuri">Mainpuri</option>
                                                        <option value="Mathura">Mathura</option>
                                                        <option value="Mau">Mau</option>
                                                        <option value="Meerut">Meerut</option>
                                                        <option value="Mirzapur">Mirzapur</option>
                                                        <option value="Moradabad">Moradabad</option>
                                                        <option value="Muzaffarnagar">Muzaffarnagar</option>
                                                        <option value="Pilibhit">Pilibhit</option>
                                                        <option value="Pratapgarh">Pratapgarh</option>
                                                        <option value="Raebareli">Raebareli</option>
                                                        <option value="Rampur">Rampur</option>
                                                        <option value="Saharanpur">Saharanpur</option>
                                                        <option value="Sambhal">Sambhal</option>
                                                        <option value="Sant Kabir Nagar">Sant Kabir Nagar</option>
                                                        <option value="Shahjahanpur">Shahjahanpur</option>
                                                        <option value="Shamli">Shamli</option>
                                                        <option value="Shravasti">Shravasti</option>
                                                        <option value="Siddharthnagar">Siddharthnagar</option>
                                                        <option value="Sitapur">Sitapur</option>
                                                        <option value="Sonbhadra">Sonbhadra</option>
                                                        <option value="Sultanpur">Sultanpur</option>
                                                        <option value="Unnao">Unnao</option>
                                                        <option value="Varanasi">Varanasi</option>
                                                    </select>
                                                </div>
                                                <span class="error" id="perma_district_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Phone (Home) <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <input type="number" name="perma_dial_code" class="form-control">
                                                    </div>
                                                    <div class="col-8 pl-0">
                                                        <input type="tel" name="perma_officePhone" class="form-control">
                                                    </div>
                                                </div>
                                                <span class="error" id="perma_officePhone_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Fax</label>
                                            <div class="col-md-7 col-12">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <input type="number" name="perma_faxCode" class="form-control">
                                                    </div>
                                                    <div class="col-8 pl-0">
                                                        <input type="tel" name="perma_faxNumber_error" class="form-control">
                                                    </div>
                                                </div>
                                                <span class="error" id="perma_faxNumber_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="d-flex align-items-center justify-content-center mt-3">
                        <div class="px-2">
                            <button class="btn btn_primary px-4 py-2" type="button" onclick="showBasicInfo()">Previous</button>
                        </div>
                        <div class="px-2">
                            <button class="btn btn_primary px-4 py-2" type="button" onclick="return showOfficialDetails()">Next</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="officialDetails" role="tabpanel" aria-labelledby="officialDetails-tab">
                    <div class="border-1 rounded border-grey w-100">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Key Official</p>
                        <div class="py-2 p-md-4">
                            <div class="d-flex align-items-center justify-content-between flex-wrap row">
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Title <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="custom_select">
                                                        <select name="officialTitle" id="" class="form-control">
                                                            <option value="-1">--Select--</option>
                                                            <option value="">Mr.</option>
                                                            <option value="">Mrs.</option>
                                                            <option value="">Ms.</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="error" id="officialTitle_error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">First Name <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <input type="text" name="official_fName" class="form-control">
                                            <span class="error" id="official_fName_error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Last Name</label>
                                        <div class="col-md-7 col-12">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Designation <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <input type="text" name="official_designation" class="form-control">
                                            <span class="error" id="official_designation_error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Phone (Office)</label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-4">
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="col-8 pl-0">
                                                    <input type="tel" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Mobile <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <input type="tel" name="official_mobile" class="form-control">
                                            <span class="error" id="official_mobile_error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Date of Birth</label>
                                        <div class="col-md-7 col-12">
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Individual Initials </label>
                                        <div class="col-md-7 col-12">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Middle Name </label>
                                        <div class="col-md-7 col-12">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Fax</label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-4">
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="col-8 pl-0">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Email</label>
                                        <div class="col-md-7 col-12">
                                            <input type="email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Date of Anniversary</label>
                                        <div class="col-md-7 col-12">
                                            <input type="date" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="border-1 rounded border-grey w-100 mt-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Other Details</p>
                        <div class="py-2 p-md-4">
                            <div class="d-flex align-items-center justify-content-between flex-wrap row">
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Secret Question</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <select name="" id="" class="form-control">
                                                    <option selected="selected">--Select--</option>
                                                    <option value="1701">Mother's maiden name</option>
                                                    <option value="1702">Father's maiden name</option>
                                                    <option value="1703">City of Birth</option>
                                                    <option value="1704">Name of first school</option>
                                                    <option value="1705">Date of marriage</option>
                                                    <option value="1706">Name of the childhood hero</option>
                                                    <option value="1707">Favorite pastime</option>
                                                    <option value="1708">Favorite sport</option>
                                                    <option value="1709">Favorite actor</option>
                                                    <option value="1710">Favorite actress</option>
                                                    <option value="1711">Pet's name</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Secret Answer</label>
                                        <div class="col-md-7 col-12">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Area of Operation</label>
                                        <div class="col-md-7 col-12">
                                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                <label class="d-flex align-items-center justify-content-between py-3">
                                                    <input type="checkbox" class="mr-2">
                                                    <p class="m-0">Inter State</p>
                                                </label>
                                                <label class="d-flex align-items-center justify-content-between py-3">
                                                    <input type="checkbox" class="mr-2">
                                                    <p class="m-0">Inter City</p>
                                                </label>
                                                <label class="d-flex align-items-center justify-content-between py-3">
                                                    <input type="checkbox" class="mr-2">
                                                    <p class="m-0">Intra City</p>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Fleet Size (No of Vehicles Owned)</label>
                                        <div class="col-md-7 col-12">
                                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                <div class="py-md-3 mb-2 mb-sm-2 px-2 col-sm-6 col-md-3">
                                                    <span class="d-flex font-12">HCV</span>
                                                    <input type="text" class="w-100">
                                                </div>
                                                <div class="py-md-3 mb-2 mb-sm-2 px-2 col-sm-6 col-md-3">
                                                    <span class="d-flex font-12">LCV</span>
                                                    <input type="text" class="w-100">
                                                </div>
                                                <div class="py-md-3 mb-2 mb-sm-2 px-2 col-sm-6 col-md-3">
                                                    <span class="d-flex font-12">MUV/SUV</span>
                                                    <input type="text" class="w-100">
                                                </div>
                                                <div class="py-md-3 mb-2 mb-sm-2 px-2 col-sm-6 col-md-3">
                                                    <span class="d-flex font-12">Car/Jeep</span>
                                                    <input type="text" class="w-100">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Type of Fleet</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <select name="" id="" class="form-control">
                                                    <option value="1701">Owned</option>
                                                    <option value="1701">Attached</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Card applied for</label>
                                        <div class="col-md-7 col-12">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Approx Monthly Spends on Vehicles</label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-12 col-sm-8">
                                                    <div class="py-2">
                                                        <div class=" position-relative pr-4">
                                                            <input type="text" class="form-control">
                                                            <a href="#" class="form_info" title="Fuel in Rs.">?</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-4">
                                                    <div class=" py-2">
                                                        <div class=" position-relative pr-4">
                                                            <input type="text" class="form-control">
                                                            <a href="#" class="form_info" title="Lube in Rs.">?</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="d-flex align-items-center justify-content-center mt-3">
                        <div class="px-2">
                            <button class="btn btn_primary px-4 py-2" type="button" onclick="showregAddressInfo()">Previous</button>
                        </div>
                        <div class="px-2">
                            <button class="btn btn_primary px-4 py-2" type="button" onclick="return showCardDetails()">Next</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="cardDetails" role="tabpanel" aria-labelledby="cardDetails-tab">
                    <div class="border-1 rounded border-grey w-100">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Card Details</p>
                        <div class="py-2 p-md-4">
                            <div class="d-flex align-items-center justify-content-between flex-wrap row">
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Number Of Cards </label>
                                        <div class="col-md-7 col-12">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <div class="col-lg-6 col-md-12 col-12">
                                    <p class="font-weight-bold">Fee Payment Details</p>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <div class="d-flex align-items-center justify-content-start flex-wrap">
                                            <label class="d-flex align-items-center justify-content-start mr-4">
                                                <input type="radio" name="fee_payment" class="mr-2" checked>
                                                <span>Fee Collect(Cheque)</span>
                                            </label>
                                            <label class="d-flex align-items-center justify-content-start">
                                                <input type="radio" name="fee_payment" class="mr-2">
                                                <span>Fee Waiver</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center justify-content-start flex-wrap">
                                                    <label>DD/Cheque No</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center justify-content-start flex-wrap">
                                                    <label>DD/Cheque Date</label>
                                                    <input type="date" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <div class="px-2">
                                    <button class="btn btn_primary px-4 py-2" onClick="showkeyOfficialInfo()" type="button">Previous</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary px-4 py-2" onClick="showUploadDocument()" type="button">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="uploadDocuments" role="tabpanel" aria-labelledby="uploadDocuments-tab">
                    <div class="border-1 rounded border-grey w-100">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Upload Documents</p>
                        <div class="py-2 p-md-4">
                            <div class="d-flex align-items-center justify-content-between flex-wrap row">
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="mb-2">
                                        <p class="text-info">Document format should be of type XLS, PDF, JPEG or PNG. </p>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Document 1</label>
                                        <div class="col-md-7 col-12">
                                            <input type="file" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Document 2</label>
                                        <div class="col-md-7 col-12">
                                            <input type="file" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Document 3</label>
                                        <div class="col-md-7 col-12">
                                            <input type="file" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Document 4</label>
                                        <div class="col-md-7 col-12">
                                            <input type="file" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <div class="px-2">
                                    <button class="btn btn_primary px-4 py-2" type="button" onClick="showCardInfo();">Previous</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary px-4 py-2" type="button">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>