
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success Redirect</title>
</head>
<body>
    <div class="createmessagearea alert alert-success">
     <p>@ViewBag.Message</p>
    </div>
</body>
</html>