
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessRedirect</title>
</head>
<body>
    <b>Customer Created Successfully With Customer Reference No @ViewBag.CustomerReferenceNo </b> @Html.ActionLink("CreateCards", "CreateCards", new { id = @ViewBag.CustomerReferenceNo })
</body>
</html>
