
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessRedirect</title>
</head>
<body>
    <div class="createmessagearea alert alert-success">
    @*<p>Customer Card Created Successfully With Customer Reference No @ViewBag.CustomerReferenceNo &nbsp;&nbsp;<br /> @Html.ActionLink("Create Cards", "AddCardDetails", new { CustomerReferenceNo = @ViewBag.CustomerReferenceNo }, null) </p>*@
     <p>@ViewBag.Message</p>
    </div>
</body>
</html>