<div style="width:100%;">
    <div class="py-3 px-0 p-md-4">
        <div class="d-flex align-items-stretch justify-content-start flex-wrap">
            <div class="col-md-3 col-12 mb-3">
                <a href="@Url.Action("Index","ApplicationFormDataEntry")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/recharge_ccms.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Application Form Data Entry</h4>
                        <p>Application Form Data Entry</p>
                    </div>
                </a>
            </div>
            @*<div class="col-md-3 col-12 mb-3">
                <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/list-accept.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>CCMS Recharge Approval</h4>
                        <p>Approve, Authorize the Recharge Requests for RTGS</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-12 mb-3">
                <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/reverse_ccms.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>CCMS Recharge Reversal</h4>
                        <p>Reverse CCMS Recharge through EFT</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-12 mb-3">
                <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/approval_ccms.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>CCMS Reverse Recharge Approval</h4>
                        <p>Approve Reversed CCMS Recharge Request</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-12 mb-3">
                <a href="#" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/view_ccms.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>View EFT Requests</h4>
                        <p>View CCMS Recharge through EFT</p>
                    </div>
                </a>
            </div>*@
        </div>
    </div>
</div>