@model IEnumerable<HPCL.Common.Models.CommonEntity.MenuDetailModel>
@using Microsoft.AspNetCore.Http;

@{
    int menuID = Model.FirstOrDefault().CalledMenuId;
}

<div style="width:100%;">
    <div class="pt-3 px-0">
        <div class="d-flex align-items-stretch justify-content-start flex-wrap">
            @foreach (var mdl in Model.Where(x => x.ParentMenuId == menuID && x.UserID == Context.Session.GetString("UserId") && x.MenuLevel != 1).OrderBy(x => x.MenuOrder))
            {
                <div class="col-lg-3 col-md-4 col-12 mb-3">
                    <a href="@Url.Action(mdl.Action, mdl.Controller)" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                        <div class="thumb_icon">
                            <img src="@mdl.ImageUrl" class="img-fluid" alt="">
                        </div>
                        <div class="px-3">
                            <h4>@mdl.Heading</h4>
                            <p>@mdl.Details</p>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
