@model HPCL.Common.Models.ResponseModel.Security.GetUserRoleLocationResponse
@using HPCL.Common.Resources

@if (Model.Data.Count() > 0)
{
    <div class="clearfix"></div>
    <p class="text_primary px-0 py-2 m-0 font-weight-bold" style="font-size: 12px;">User Roles</p>
    <p class="text_primary px-0 py-2 m-0 font-weight-bold" style="font-size: 10px;">User Name: @Model.UserName </p>
    <table class="table table-striped d-md-table table-bordered table-responsive" style="width:100%;" id="tblCustomer">
        <thead>
            <tr>
                <th>Role</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            @{
                int Sno = 1;
            }
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.UserRole</td>
                    <td>@item.Location</td>
                </tr>
                Sno++;
            }
        </tbody>
    </table>
}
else
{
    <div class="mb-3 text-center" style="background-color: #f9c9c9; color: #8d0d0d; border-color: #f3abab;">
        @Model.Message
    </div>
}
<script type="text/javascript">
    //$(document).ready(function () {
    //    $('.table').DataTable({
    //        "lengthMenu": [10, 20, 50, 100, 200, 500],
    //        "oLanguage": {
    //            "sLengthMenu": "Display _MENU_ Records",
    //            "info": "Showing _START_ to _END_ of _TOTAL_ Records",
    //        }
    //    });
    //});

</script>