
<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("ManageUser","Security")" class="text_primary">Manage Users</a> </li>
            <li class="breadcrumb-item font-weight-light">Add User</li>
        </ul>
        <ul class="nav nav-tabs mt-2 form_tabs justify-content-end" id="formTab" role="tablist">
            <li class="nav-item"> <a class="nav-link active" id="userinfo-tab" data-toggle="tab" href="#userinfo" role="tab" aria-controls="userinfo" aria-selected="true">User Info</a> </li>
            <li class="nav-item"> <a class="nav-link" id="userrole-tab" data-toggle="tab" href="#userrole" role="tab" aria-controls="userrole" aria-selected="false">User Role</a> </li>

        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="userinfo" role="tabpanel" aria-labelledby="userinfo-tab">
                <div class="border-1 rounded border-grey w-100 mt-3">
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">User Information</p>
                    <div class="py-2 p-md-4">
                        <div class="d-flex align-items-center justify-content-between flex-wrap row">
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">User Name <sup class="text-danger">*</sup></label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="" name="username" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal offset-md-1 col-md-4 col-12">Email <sup class="text-danger">*</sup></label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="" name="email" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between flex-wrap row">
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">Password <sup class="text-danger">*</sup></label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="" name="password" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal offset-md-1 col-md-4 col-12">Confirm Password <sup class="text-danger">*</sup></label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="" name="cpassword" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between flex-wrap row">
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">Secret Question <sup class="text-danger">*</sup></label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            <select class="form-control">
                                                <option value="">--Select--</option>
                                                <option value="">Mother's maiden name</option>
                                                <option value="">Father's maiden name</option>
                                                <option value="">City of Birth</option>
                                                <option value="">Name of first school</option>
                                                <option value="">Date of marriage</option>
                                                <option value="">Name of the childhood hero</option>
                                                <option value="">Favorite pastime</option>
                                                <option value="">Favorite sport</option>
                                                <option value="">Favorite actor</option>
                                                <option value="">Favorite actress</option>
                                                <option value="">Pet's name</option>
                                                <option value="">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal offset-md-1 col-md-4 col-12">Secret Question Answer <sup class="text-danger">*</sup></label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            <input class="form-control" id="" name="" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="d-flex align-items-center justify-content-center mt-0">
                            <div class="px-0">
                                <button class="btn btn_primary" type="button">Create User</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="tab-pane fade show" id="userrole" role="tabpanel" aria-labelledby="userrole-tab">
                <div class="border-1 rounded border-grey w-100 mt-3">
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">User Roles</p>
                    <div class="d-flex align-items-start flex-wrap mt-3">
                        <div class="col-12 col-lg-12">
                            <table id="ViewRedemptionTable" class="table table-striped d-block d-md-table table-bordered table-responsive mt-3" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Role</th>
                                        <th>Location</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="#">View Data Bank</a></td>
                                        <td>NORTH ZONE,NORTH CENTRAL ZONE,WEST ZONE,NORTH WEST ZONE,EAST ZONE,SOUTH Z...</td>
                                        <td><a href="#"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">View Data Bank</a></td>
                                        <td>NORTH ZONE,NORTH CENTRAL ZONE,WEST ZONE,NORTH WEST ZONE,EAST ZONE,SOUTH Z...</td>
                                        <td><a href="#"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">View Data Bank</a></td>
                                        <td>NORTH ZONE,NORTH CENTRAL ZONE,WEST ZONE,NORTH WEST ZONE,EAST ZONE,SOUTH Z...</td>
                                        <td><a href="#"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">View Data Bank</a></td>
                                        <td>NORTH ZONE,NORTH CENTRAL ZONE,WEST ZONE,NORTH WEST ZONE,EAST ZONE,SOUTH Z...</td>
                                        <td><a href="#"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">View Data Bank</a></td>
                                        <td>NORTH ZONE,NORTH CENTRAL ZONE,WEST ZONE,NORTH WEST ZONE,EAST ZONE,SOUTH Z...</td>
                                        <td><a href="#"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">View Data Bank</a></td>
                                        <td>NORTH ZONE,NORTH CENTRAL ZONE,WEST ZONE,NORTH WEST ZONE,EAST ZONE,SOUTH Z...</td>
                                        <td><a href="#"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">View Data Bank</a></td>
                                        <td>NORTH ZONE,NORTH CENTRAL ZONE,WEST ZONE,NORTH WEST ZONE,EAST ZONE,SOUTH Z...</td>
                                        <td><a href="#"><i class="fa fa-trash"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="border-1 rounded border-grey w-100 mt-3">
                    <div class="d-flex align-items-start flex-wrap">
                        <div class="col-12 col-sm-3 px-0">
                            <div class="UserRoleArea">
                                <h2>User Role</h2>
                                <ul style="max-height:320px; overflow-y:scroll;">
                                    <li>Comco Officers</li>
                                    <li>HPCL Marketing Officer(MO)</li>
                                    <li>HPCL SO</li>
                                    <li>MO View Only</li>
                                    <li>RBE</li>
                                    <li>RM</li>
                                    <li>VFI RBE</li>
                                    <li>VFI RSM</li>
                                    <li>Zonal Head</li>
                                    <li>Comco Officers</li>
                                    <li>HPCL Marketing Officer(MO)</li>
                                    <li>HPCL SO</li>
                                    <li>MO View Only</li>
                                    <li>RBE</li>
                                    <li>RM</li>
                                    <li>VFI RBE</li>
                                    <li>VFI RSM</li>
                                    <li>Zonal Head</li>
                                    <li>Comco Officers</li>
                                    <li>HPCL Marketing Officer(MO)</li>
                                    <li>HPCL SO</li>
                                    <li>MO View Only</li>
                                    <li>RBE</li>
                                    <li>RM</li>
                                    <li>VFI RBE</li>
                                    <li>VFI RSM</li>
                                    <li>Zonal Head</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-9 px-0">
                            <div class="LocationsArea">
                                <h2>Locations Area</h2>
                                <div class="panel-group" id="accordion">
                                    <!-- /.panel -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" contenteditable="false">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                        <label class="form-check-label" for="inlineCheckbox1">All</label>
                                                    </div>
                                                </a>
                                            </h4>

                                        </div>
                                        <!--/.panel-heading -->
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <!-- nested -->
                                                <div class="panel-group" id="nested">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" data-parent="#nested" href="#nested-collapseOne" class="">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                        <label class="form-check-label" for="inlineCheckbox1">EAST ZONE</label>
                                                                    </div>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <!--/.panel-heading -->
                                                        <div id="nested-collapseOne" class="panel-collapse collapse in">
                                                            <div class="panel-body">
                                                                <ul style="padding-left: 25px;">
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">BHUBANESHWAR RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">BILASPUR RETAIL RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">DURGAPUR RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">GUWAHATI RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">KOLKATA RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">RAIPUR RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">RANCHI RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">SAMBALPUR RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">SILIGURI RETAIL RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">TATANAGAR RRO</label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!--/.panel-body -->
                                                        </div>
                                                        <!--/.panel-collapse -->
                                                    </div>
                                                    <!-- /.panel -->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapseTwo">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                        <label class="form-check-label" for="inlineCheckbox1">LPG - EAST ZONE</label>
                                                                    </div>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <!--/.panel-heading -->
                                                        <div id="nested-collapseTwo" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <ul style="padding-left: 25px;">
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">BHUBANESHWAR LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">DURGAPUR LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">JAMSHEDPUR LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">KOLKATA LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">RAIPUR LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!--/.panel-body -->
                                                        </div>
                                                        <!--/.panel-collapse -->
                                                    </div>
                                                    <!-- /.panel -->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapseThree">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                        <label class="form-check-label" for="inlineCheckbox1">LPG - NORTH CENTRAL ZONE</label>
                                                                    </div>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <!--/.panel-heading -->
                                                        <div id="nested-collapseThree" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <ul style="padding-left: 25px;">
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">GORAKHPUR LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">LUCKNOW LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">Lucknow LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">PATNA LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">PURNEA LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">VARANASI LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!--/.panel-body -->
                                                        </div>
                                                        <!--/.panel-collapse -->
                                                    </div>
                                                    <!-- /.panel -->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapseFour">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                        <label class="form-check-label" for="inlineCheckbox1">LPG - NORTH WEST ZONE</label>
                                                                    </div>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <!--/.panel-heading -->
                                                        <div id="nested-collapseFour" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <ul style="padding-left: 25px;">
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">AHMEDABAD LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">HAZIRA LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">INDORE LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">JABALPUR LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">JAIPUR LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">Jamshedpur LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">JODHPUR LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!--/.panel-body -->
                                                        </div>
                                                        <!--/.panel-collapse -->
                                                    </div>
                                                    <!-- /.panel -->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapseFive">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                        <label class="form-check-label" for="inlineCheckbox1">LPG - NORTH ZONE</label>
                                                                    </div>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <!--/.panel-heading -->
                                                        <div id="nested-collapseFive" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <ul style="padding-left: 25px;">
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">CHANDIGARH LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">DELHI LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">HOSHIARPUR LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">JAMMU LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">Jind LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">LONI LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!--/.panel-body -->
                                                        </div>
                                                        <!--/.panel-collapse -->
                                                    </div>
                                                    <!-- /.panel -->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapseSix">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                        <label class="form-check-label" for="inlineCheckbox1">LPG - SOUTH CENTRAL ZONE</label>
                                                                    </div>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <!--/.panel-heading -->
                                                        <div id="nested-collapseSix" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <ul style="padding-left: 25px;">
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">ANANTAPUR LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">HYDERABAD LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">VIJAYWADA LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">VISAKH LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!--/.panel-body -->
                                                        </div>
                                                        <!--/.panel-collapse -->
                                                    </div>
                                                    <!-- /.panel -->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapseSeven">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                        <label class="form-check-label" for="inlineCheckbox1">LPG - SOUTH ZONE</label>
                                                                    </div>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <!--/.panel-heading -->
                                                        <div id="nested-collapseSeven" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <ul style="padding-left: 25px;">
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">BANGALORE LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">CHENNAI LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">HUBLI LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">KOCHI LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">MADURAI LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">MANGALORE LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!--/.panel-body -->
                                                        </div>
                                                        <!--/.panel-collapse -->
                                                    </div>
                                                    <!-- /.panel -->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapseEight">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                        <label class="form-check-label" for="inlineCheckbox1">LPG - WEST ZONE</label>
                                                                    </div>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <!--/.panel-heading -->
                                                        <div id="nested-collapseEight" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <ul style="padding-left: 25px;">
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">AURANGABAD LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">GOA LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">MUMBAI LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">NAGPUR LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">NAVI MUMBAI LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">PUNE LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">SOLAPUR LPG RO</label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!--/.panel-body -->
                                                        </div>
                                                        <!--/.panel-collapse -->
                                                    </div>
                                                    <!-- /.panel -->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapseNine">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                        <label class="form-check-label" for="inlineCheckbox1">NORTH CENTRAL ZONE</label>
                                                                    </div>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <!--/.panel-heading -->
                                                        <div id="nested-collapseNine" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <ul style="padding-left: 25px;">
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">AGRA RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">BEGUSARAI RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">DEHRADUN RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">GORAKHPUR RETAIL RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">KANPUR RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">LUCKNOW RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">MEERUT RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">PATNA RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">VARANASI RRO</label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!--/.panel-body -->
                                                        </div>
                                                        <!--/.panel-collapse -->
                                                    </div>
                                                    <!-- /.panel -->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapseTen">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                        <label class="form-check-label" for="inlineCheckbox1">SOUTH CENTRAL ZONE</label>
                                                                    </div>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <!--/.panel-heading -->
                                                        <div id="nested-collapseTen" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <ul style="padding-left: 25px;">
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">BANGALORE RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">BELGAUM RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">BELLARY RETAIL RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">KADAPA RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">MANGALORE RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">NELLORE RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">SECUNDERABAD RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">VIJAYAWADA RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">VISAKH RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">WARANGAL RRO</label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!--/.panel-body -->
                                                        </div>
                                                        <!--/.panel-collapse -->
                                                    </div>
                                                    <!-- /.panel -->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapseEleven">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                        <label class="form-check-label" for="inlineCheckbox1">SOUTH ZONE</label>
                                                                    </div>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <!--/.panel-heading -->
                                                        <div id="nested-collapseEleven" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <ul style="padding-left: 25px;">
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">CHENNAI RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">COCHIN RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">COIMBATORE RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">KOZHICODE RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">MADURAI RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">SALEM RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">TRICHY RRO</label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!--/.panel-body -->
                                                        </div>
                                                        <!--/.panel-collapse -->
                                                    </div>
                                                    <!-- /.panel -->
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested-collapseTweleve">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                        <label class="form-check-label" for="inlineCheckbox1">WEST ZONE</label>
                                                                    </div>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <!--/.panel-heading -->
                                                        <div id="nested-collapseTweleve" class="panel-collapse collapse">
                                                            <div class="panel-body">
                                                                <ul style="padding-left: 25px;">
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">AURANGABAD RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">BHOPAL RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">INDORE RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">JABALPUR RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">MUMBAI RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">NAGPUR RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">NASHIK RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">PUNE RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">SHOLAPUR RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">VASCO RRO</label>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">VASHI RRO</label>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <!--/.panel-body -->
                                                        </div>
                                                        <!--/.panel-collapse -->
                                                    </div>
                                                    <!-- /.panel -->
                                                </div>
                                                <!-- /.panel-group -->
                                                <!-- nested -->
                                            </div>
                                            <!--/.panel-body -->
                                        </div>
                                        <!--/.panel-collapse -->
                                    </div>
                                    <!-- /.panel -->
                                </div>
                                <!-- /.panel-group -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

